Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-toml
      - id: end-of-file-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astro/deadnix
    rev: v1.3.1
    hooks:
      - id: deadnix
        args: ["-L"]
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        types:
          - nix
      - id: stylua-check
        name: stylua
        entry: stylua
        language: system
        types:
          - lua
      - id: check-yaml
        name: yamllint
        entry: yamllint
        args: ["--strict"]
        language: system
        files: \.(yml|yaml)$
      - id: shfmt
        name: shfmt
        entry: shfmt
        args: [-l, -d, -i=2, -ci, -s, -bn, -w]
        language: system
        files: '(.*\.sh$)|(\.zshrc|functionrc|aliasrc)'
      - id: fixjson
        name: fixjson json5
        entry: fixjson
        args: ["--write"]
        language: system
        types:
          - json5

nixos: unbound improvements
  nixos/containers/dns/dns.nix
  nixos/containers/dns/unbound.nix
Due: nixfmt

nvim: improvements and remove basedpyright
  nixos/modules/nvim.nix
  nvim/.config/nvim/lua/commands.lua
  nvim/.config/nvim/lua/lsp/init.lua
  nvim/.config/nvim/lua/plugins/code.lua
  nvim/.config/nvim/lua/settings.lua
Due: nixfmt

nvim: enable experimental features of ty
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nixos: add lnav package
  nixos/modules/cli-tools.nix
  opencode/.config/opencode/agent/developer.md
  zsh/.config/zsh/aliasrc
Due: nixfmt, shfmt

nix: flake update
  flake.lock
Due: none

nixos: containers add journald log config tp keep only fpr 30d
  nixos/containers/container-common.nix
  nixos/containers/immich.nix
Due: nixfmt

nixos: improve better-shell
  nixos/hosts/nuc-g5/configuration.nix
  nixos/modules/better-shell.nix
Due: nixfmt

nixos: container fixes after update
  nixos/containers/container-common.nix
  nixos/containers/immich.nix
  nixos/containers/monitoring/alloy-log-report.nix
  nixos/containers/watch.nix
  nixos/modules/default-user.nix
Due: nixfmt

nixos: fw13 suspend tricks
  flake.lock
  nixos/hosts/fw13-amd/configuration.nix
  nixos/hosts/fw13-amd/default.nix
  nixos/hosts/fw13-amd/hardware-configuration.nix
  nixos/hosts/fw13-amd/suspend_tricks.nix
  nixos/modules/suspend-then-hibernate.nix
Due: nixfmt

nixos: containers postgres update to 18
  nixos/containers/backup.nix
  nixos/containers/immich.nix
  nixos/containers/mealie.nix
  nixos/containers/paperless.nix
  nixos/hosts/fw13-amd/suspend_tricks.nix
Due: nixfmt

nixos: update ts key and add ai.nix container for future
  nixos/containers/ai.nix
  nixos/secrets/tailscale-lab.age
Due: nixfmt

nvim: add git log shortcut
  nixos/hosts/mondo/homebrew.nix
  nvim/.config/nvim/lua/plugins/git.lua
  opencode/.config/opencode/agent/code-reviewer.md
  opencode/.config/opencode/agent/developer.md
Due: nixfmt

nixos: nix flake update
  dev-shell.nix
  flake.lock
  hypr/.config/hypr/windowrules.conf
  nixos/modules/gui-applications.nix
  nixos/modules/nvim.nix
Due: nixfmt

hyprland: update windowrules to new syntax
  hypr/.config/hypr/windowrules.conf
Due: none

opencode: convert agents to skills and simplify descriptions
  opencode/.config/opencode/agent/developer.md
  opencode/.config/opencode/command/create_plan.md
  opencode/.config/opencode/opencode.json
  opencode/.config/opencode/skill/codebase-analyzer/SKILL.md
  opencode/.config/opencode/skill/codebase-locator/SKILL.md
  opencode/.config/opencode/skill/codebase-pattern-finder/SKILL.md
  opencode/.config/opencode/skill/git-commit/SKILL.md
  opencode/.config/opencode/skill/thoughts-analyzer/SKILL.md
  opencode/.config/opencode/skill/thoughts-locator/SKILL.md
  opencode/.config/opencode/skill/ticket-creator/SKILL.md
  opencode/.config/opencode/skill/web-search-researcher/SKILL.md
Due: none

nixos: darwin remove mac-app-util and add home-manager module
  flake.lock
  flake.nix
  nixos/hosts/mondo/configuration.nix
  nixos/hosts/mondo/default.nix
  nixos/hosts/mondo/home.nix
  nixos/hosts/mondo/homebrew.nix
  nixos/hosts/mondo/packages.nix
Due: nixfmt

nixos: darwin add touchId sudo support
  nixos/hosts/mondo/configuration.nix
Due: nixfmt

opencode: set theme
  opencode/.config/opencode/opencode.json
Due: none

nixos: more suspend tricks
  nixos/containers/watch.nix
  nixos/hosts/fw13-amd/hardware-configuration.nix
  nixos/hosts/fw13-amd/suspend_tricks.nix
Due: nixfmt

nix: update flake and opencode settings
  flake.lock
  git/.config/git/ignore
  opencode/.config/opencode/agent/developer.md
  opencode/.config/opencode/opencode.json
Due: none

nvim: disable semantic highlighting
  nvim/.config/nvim/lua/lsp/handlers.lua
Due: none

nix: fw13 suspend improvements
  nixos/containers/watch.nix
  nixos/hosts/fw13-amd/suspend_tricks.nix
  nixos/modules/sound-pipewire.nix
  opencode/.config/opencode/opencode.json
Due: nixfmt

feat: use prek instead of pre-commit
  .github/workflows/ci.yml
  dev-shell.nix
Due: nixfmt, check-yaml

feat: add .yamlfmt.yaml
  .github/workflows/ci.yml
  .yamlfmt.yaml
Due: check-yaml

prek: add yamlfmt
  .pre-commit-config.yaml
Due: check-yaml

feat: use prek instead of pre-commit (#25)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .yamlfmt.yaml
  dev-shell.nix
  flake.lock
Due: nixfmt, check-yaml

nvim: add Caddyfile extension to filetype detection
  nvim/.config/nvim/lua/settings.lua
Due: none

nixos: add ledger.nix module
  nixos/hosts/fw13-amd/default.nix
  nixos/modules/ledger.nix
Due: nixfmt

nix: update flake
  flake.lock
  nvim/.config/nvim/lua/plugins/ui.lua
Due: none

nixos: fix hyprpolkit agent startup
  hypr/.config/hypr/hyprland.conf
  nixos/modules/hyprland.nix
Due: nixfmt

nixos: add comma and nix-index-database
  flake.lock
  flake.nix
  nixos/bin/link-dotfiles.sh
  nixos/hosts/fw13-amd/home.nix
  nixos/hosts/mondo/home.nix
  nixos/hosts/sgo2/home.nix
  nixos/modules/home-manager/nix-index-database.nix
Due: nixfmt, shfmt

nix: flake update
  flake.lock
  nixos/modules/nvim.nix
Due: nixfmt
