Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

check-yaml:
  name: yamllint
  entry: yamllint
  args:
  - --strict
  language: system

shfmt:
  name: shfmt
  entry: shfmt
  args:
  - -l
  - -d
  - -i=2
  - -ci
  - -s
  - -bn
  - -w
  language: system

nixos: update lenovo
  justfile
  nixos/hosts/lenovo-y5070/configuration.nix
  nixos/hosts/lenovo-y5070/disko.nix
  nixos/modules/nix-settings.nix
Due: nixfmt

just: fix justfile
  justfile
Due: none

chore: small cleanup
  aichat/.config/aichat/config.yaml
  justfile
  nixos/bin/link-dotfiles.sh
Due: check-yaml, shfmt

nixos: create tailscale-lab module
  nixos/hosts/lenovo-y5070/default.nix
  nixos/hosts/pi4b/default.nix
  nixos/hosts/pi4b/selfhost.nix
  nixos/modules/tailscale-lab.nix
Due: nixfmt

nixos: adguard enable cache
  nixos/containers/dns/dns.nix
  nixos/hosts/pi4b/selfhost.nix
Due: nixfmt

nixos: update linux ui
  flake.lock
  flake.nix
  hypr/.config/hypr/env.lua
  hypr/.config/hypr/hypridle.conf
  hypr/.config/hypr/startup.lua
  nixos/hosts/fw13-amd/default.nix
  nixos/modules/fingerprint.nix
  nixos/modules/gui-applications.nix
  nixos/modules/home-manager/linux-ui.nix
  nixos/modules/hyprland.nix
  nixos/modules/nix-settings.nix
  nixos/modules/wayland-desktop-environment.nix
  noctalia/.local/state/noctalia/settings.toml
Due: nixfmt

nixos: move from hyprlock to noctalia lockscreen
  flake.lock
  hypr/.config/hypr/keybinds.lua
  hypr/.config/hypr/startup.lua
  nixos/modules/hyprland.nix
  noctalia/.local/state/noctalia/lock-screen-bg.png
  noctalia/.local/state/noctalia/settings.toml
Due: nixfmt

refactor(nixos/containers): extract into module system with per-host container config
  nixos/containers/backup.nix
  nixos/containers/container-common.nix
  nixos/containers/default.nix
  nixos/containers/options.nix
  nixos/hosts/lenovo-y5070/configuration.nix
  nixos/hosts/lenovo-y5070/default.nix
  nixos/hosts/nuc-g5/configuration.nix
  nixos/hosts/nuc-g5/default.nix
  nixos/modules/host-networking.nix
Due: nixfmt

refactor(nixos/containers): move per-host config to containers.nix, bool enable
  nixos/containers/default.nix
  nixos/containers/options.nix
  nixos/hosts/lenovo-y5070/configuration.nix
  nixos/hosts/lenovo-y5070/containers.nix
  nixos/hosts/lenovo-y5070/default.nix
  nixos/hosts/nuc-g5/configuration.nix
  nixos/hosts/nuc-g5/containers.nix
  nixos/hosts/nuc-g5/default.nix
  nixos/modules/host-networking.nix
Due: nixfmt

refactor(nixos/containers): centralize container IPs in containerMeta mapping
  nixos/containers/default.nix
  nixos/containers/options.nix
  nixos/hosts/nuc-g5/containers.nix
Due: nixfmt

fix(nixos/containers): fix mapAttrs function signature (needs 2 args)
  nixos/containers/default.nix
Due: nixfmt

style(nixos): fix statix repeated-key warnings in host configs
  nixos/containers/backup.nix
  nixos/hosts/lenovo-y5070/configuration.nix
  nixos/hosts/nuc-g5/configuration.nix
  noctalia/.local/state/noctalia/settings.toml
Due: nixfmt

docs: add ollama container design spec
  docs/superpowers/specs/2026-06-14-ollama-container-design.md
Due: none

feat(nixos/containers): add models option to per-container submodule
  nixos/containers/options.nix
Due: nixfmt

feat(nixos/containers): add ollama to containerMeta and pass models on import
  nixos/containers/default.nix
Due: nixfmt

feat(nixos/containers): add ollama container module
  nixos/containers/ollama.nix
Due: nixfmt

feat(nixos/hosts/lenovo-y5070): enable ollama container with qwen3:27b
  nixos/hosts/lenovo-y5070/containers.nix
  nixos/hosts/lenovo-y5070/default.nix
Due: nixfmt

nixos: add nixos mcp to opencode and fix noctalia brightness
  noctalia/.local/state/noctalia/settings.toml
  opencode/.config/opencode/opencode.json
Due: none

chore: fix fmt
  nixos/hosts/nuc-g5/containers.nix
Due: nixfmt

fix(nixos/hosts/lenovo-y5070): remove unused nvidia config (CI build failure)
  nixos/hosts/lenovo-y5070/configuration.nix
  nixos/hosts/lenovo-y5070/nvidia.nix
Due: nixfmt

nvim: remove treesitter
  nixos/bin/daily-update.sh
  nvim/.config/nvim/lua/plugins/code.lua
  nvim/.config/nvim/lua/plugins/ui.lua
  nvim/.config/nvim/lua/settings.lua
Due: shfmt

feat(nixos/containers): add configurable hostname option for tailscale naming
  nixos/containers/default.nix
  nixos/containers/options.nix
  nixos/hosts/nuc-g5/containers.nix
Due: nixfmt

update flake
  flake.lock
Due: none

fix(containers): enable systemd-resolved stub listener for container DNS
  nixos/containers/container-common.nix
  nixos/containers/container-tailscale.nix
  nixos/containers/dns/dns.nix
  nixos/containers/tailscale-serve.nix
  nixos/modules/host-networking.nix
Due: nixfmt

feat(containers): add pg-upgrade-container script for PostgreSQL data migration
  nixos/modules/host-networking.nix
  nixos/modules/pg-upgrade-container.sh
Due: nixfmt, shfmt

feat(containers): auto-download missing PG binaries via nix build
  nixos/modules/pg-upgrade-container.sh
Due: shfmt

fix(containers): robust PG binary resolution and nix build output selection
  nixos/modules/pg-upgrade-container.sh
Due: shfmt

fix(containers): auto-align checksum settings before pg_upgrade
  nixos/modules/pg-upgrade-container.sh
Due: shfmt

fix(containers): auto-repair missing postgresql.conf before pg_upgrade
  nixos/modules/pg-upgrade-container.sh
Due: shfmt

fix(containers/dns): disable systemd-resolved stub listener for AdGuardHome
  nixos/containers/dns/dns.nix
Due: nixfmt

fix(containers): make restore-container reliable with privateUsers
  nixos/containers/container-common.nix
  nixos/modules/host-networking.nix
  nixos/modules/restore-container.sh
Due: nixfmt, shfmt

update flake and fix noctalia
  flake.lock
  noctalia/.local/state/noctalia/settings.toml
Due: none

fix: y5070 interface
  nixos/hosts/lenovo-y5070/containers.nix
Due: nixfmt

fix: model name
  nixos/hosts/lenovo-y5070/containers.nix
Due: nixfmt

feat: set up Nix signing key for remote deployments
  nixos/containers/ollama.nix
  nixos/hosts/fw13-amd/configuration.nix
  nixos/hosts/lenovo-y5070/containers.nix
  nixos/modules/agenix.nix
  nixos/modules/nix-settings.nix
  nixos/secrets/fw13-nix-signing.age
  nixos/secrets/secrets.nix
Due: nixfmt

use smaller model for speed
  nixos/hosts/lenovo-y5070/containers.nix
Due: nixfmt

olllam: keep model alive
  nixos/containers/ollama.nix
Due: nixfmt

nixos: extract containers into module system, add CPU-only ollama container (#30)
  docs/superpowers/specs/2026-06-14-ollama-container-design.md
  flake.lock
  nixos/containers/backup.nix
  nixos/containers/container-common.nix
  nixos/containers/container-tailscale.nix
  nixos/containers/default.nix
  nixos/containers/dns/dns.nix
  nixos/containers/ollama.nix
  nixos/containers/options.nix
  nixos/containers/tailscale-serve.nix
  nixos/hosts/fw13-amd/configuration.nix
  nixos/hosts/lenovo-y5070/configuration.nix
  nixos/hosts/lenovo-y5070/containers.nix
  nixos/hosts/lenovo-y5070/default.nix
  nixos/hosts/lenovo-y5070/nvidia.nix
  nixos/hosts/nuc-g5/configuration.nix
  nixos/hosts/nuc-g5/containers.nix
  nixos/hosts/nuc-g5/default.nix
  nixos/modules/agenix.nix
  nixos/modules/host-networking.nix
  nixos/modules/nix-settings.nix
  nixos/modules/pg-upgrade-container.sh
  nixos/modules/restore-container.sh
  nixos/secrets/fw13-nix-signing.age
  nixos/secrets/secrets.nix
  noctalia/.local/state/noctalia/settings.toml
  opencode/.config/opencode/opencode.json
Due: nixfmt, shfmt

refactor: move container helper scripts to nixos/containers/scripts/
  nixos/containers/scripts/pg-upgrade-container.sh
  nixos/containers/scripts/restore-container.sh
  nixos/modules/host-networking.nix
Due: nixfmt, shfmt

Path conditions:
  nixfmt: any of: \.nix$
  check-yaml: any of: \.(yml|yaml)$
  shfmt: any of: (.*\.sh$)|(\.zshrc|functionrc|aliasrc)
