Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, shfmt

.pre-commit-config.yaml:

repos:
  - repo: git@github.com:pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-added-large-files
  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.3.0
    hooks:
      - id: nixpkgs-fmt
  - repo: local
    hooks:
      - id: stylua-check
        name: stylua
        entry: stylua
        language: system
        types:
          - lua
      - id: check-yaml
        name: yamllint
        entry: yamllint
        args: ["--strict"]
        language: system
        files: \.(yml|yaml)$
      - id: shfmt
        name: shfmt
        entry: shfmt
        args: [-l, -d, -i=2, -ci, -s, -bn, -w]
        language: system
        files: '(.*\.sh$)|(\.zshrc|functionrc|aliasrc)'

Add new lines in daily-update.sh
  nixos/bin/daily-update.sh
Due: shfmt

Clean up nvim.nix
  nixos/modules/nvim.nix
Due: none

some fixes
  gtk-3.0/.config/gtk-3.0/settings.ini
  nixos/hosts/fw13-amd/default.nix
  nixos/hosts/lenovo-y5070/default.nix
  nixos/hosts/mondo/default.nix
  nixos/modules/ai.nix
Due: none

fix shellcheck error
  nixos/bin/daily-update.sh
Due: shfmt

sort modules
  nixos/hosts/mondo/default.nix
Due: none

chore: remove dockerfile
  dockerfile
Due: none

nix: move yazi to zsh.nix
  nixos/modules/desktop-user.nix
  nixos/modules/zsh.nix
Due: none

nvim: add just file formatter
  justfile
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

aichat: add basic ollama config
  aichat/.config/aichat/config.yaml
  nixos/bin/link-dotfiles.sh
Due: check-yaml, shfmt

nix: tidy up flake.nix
  flake.nix
Due: none

nix: set shellInit in darwin source nix-daemon
  nixos/hosts/mondo/default.nix
  nixos/modules/default-user.nix
  nixos/modules/desktop-user.nix
  nixos/modules/zsh.nix
Due: none

brew: add ghostty
  nixos/hosts/mondo/homebrew.nix
Due: none

nvim: remove dev from python-docs and sf.nvim
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

ghostty: create initial config
  ghostty/.config/ghostty/config
  justfile
  nixos/bin/link-dotfiles.sh
Due: shfmt

nix: create home-manager modules folder and share common configs
  nixos/hosts/fw13-amd/configuration.nix
  nixos/hosts/fw13-amd/home.nix
  nixos/hosts/lenovo-y5070/configuration.nix
  nixos/hosts/lenovo-y5070/home.nix
  nixos/hosts/mondo/configuration.nix
  nixos/hosts/mondo/default.nix
  nixos/hosts/sgo2/home.nix
  nixos/modules/desktop-user.nix
  nixos/modules/home-manager/dconf-virt-manager-qemu.nix
  nixos/modules/home-manager/firefox.nix
  nixos/modules/home-manager/linux-ui.nix
  nixos/modules/zsh.nix
Due: none

nix: update flakes and drop nix-ld flake input
  flake.lock
  flake.nix
  nixos/hosts/fw13-amd/default.nix
  nixos/hosts/lenovo-y5070/default.nix
  nixos/hosts/sgo2/default.nix
  nixos/modules/ld.nix
Due: none

chore: remove fzf from just list
  justfile
Due: none

chore: remove fzf from link-dotfiles.sh
  nixos/bin/link-dotfiles.sh
Due: shfmt

nvim: drop temporary fix because it is not needed as neovim 0.10.3
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

docs: update readme
  README.md
  nixos/hosts/mondo/README.md
Due: none

yazi: add yazi config files and set bat theme to Catppuccin-mocha
  bat/.config/bat/config
  bat/.config/bat/syntaxes
  bat/.config/bat/themes/Catppuccin-mocha.tmTheme
  justfile
  nixos/bin/link-dotfiles.sh
  yazi/.config/yazi/theme.toml
  yazi/.config/yazi/yazi.toml
Due: shfmt

zsh: move to fast-syntax-highlighting
  zsh/.config/zsh/.zshrc
Due: shfmt

nix: fix daily-update zeesh-update
  nixos/bin/daily-update.sh
Due: shfmt

yazi: update configuration
  yazi/.config/yazi/yazi.toml
Due: none

kitty: make tabs look better
  kitty/.config/kitty/kitty.conf
Due: none

nix: flake update
  flake.lock
Due: none

nix: add deadnix pre-commit check and fix warnings
  .envrc.sample
  .pre-commit-config.yaml
  dev-shell.nix
  nixos/containers/home-assistant.nix
  nixos/hosts/pi4b/configuration.nix
  nixos/modules/desktop-user.nix
Due: check-yaml

tofi: update config
  tofi/.config/tofi/config
Due: none

chore: add ci action check
  .github/workflows/ci.yml
  dev-shell.nix
Due: check-yaml

chore: add renovate
  .editorconfig
  renovate.json5
Due: none

chore: add pre-commit check to ci
  .github/workflows/ci.yml
Due: check-yaml

chore: fix ci
  .github/workflows/ci.yml
Due: check-yaml

chore: fix ci really
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: check-yaml

chore: try nix-develop-action in ci
  .github/workflows/ci.yml
Due: check-yaml

nix: add shfmt to dev-shell
  dev-shell.nix
Due: none

chore: try pre-commit action in ci
  .github/workflows/ci.yml
Due: check-yaml

chore: add pre-commit cache to ci
  .github/workflows/ci.yml
Due: check-yaml

nvim: add fixjson formatter for json5
  .pre-commit-config.yaml
  dev-shell.nix
  nvim/.config/nvim/lua/plugins/code.lua
  renovate.json5
Due: check-yaml

chore: pre-commit remove debug statement check
  .pre-commit-config.yaml
Due: check-yaml
