Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

check-yaml:
  name: yamllint
  entry: yamllint
  args:
  - --strict
  language: system

shfmt:
  name: shfmt
  entry: shfmt
  args:
  - -l
  - -d
  - -i=2
  - -ci
  - -s
  - -bn
  - -w
  language: system

nix: update flake and minor updates
  flake.lock
  nixos/modules/gui-applications.nix
  nixos/modules/home-manager/firefox.nix
  nixos/modules/nix-settings.nix
  nixos/modules/xdg-mime.nix
Due: nixfmt

firefox: add new bookmarks
  nixos/modules/home-manager/firefox.nix
Due: nixfmt

nvim: remove python-docs plugin
  nvim/.config/nvim/lua/plugins/code.lua
  nvim/.config/nvim/lua/plugins/fzf.lua
Due: none

zsh: add jwt-cli auto completion
  nixos/modules/cli-tools.nix
  zsh/.config/zsh/.zshrc
Due: nixfmt, shfmt

nvim: add snacks commands
  nvim/.config/nvim/lua/commands.lua
Due: none

nvim: use maintained gitlinker.nvim fork
  nvim/.config/nvim/lua/plugins/git.lua
Due: none

waybar: add power menu and improve hyprsunset
  hypr/.config/hypr/hyprsunset.conf
  nixos/modules/hyprland.nix
  waybar/.config/waybar/config
  waybar/.config/waybar/custom/power_menu.xml
  waybar/.config/waybar/default-modules.json
  waybar/.config/waybar/style.css
Due: nixfmt

nixos: dns allow some urls
  nixos/containers/dns/dns.nix
Due: nixfmt

nixos: dns increase timeouts
  nixos/containers/dns/dns.nix
Due: nixfmt

nix: flake update
  flake.lock
Due: none

nixos: add pcloud
  nixos/modules/agenix.nix
  nixos/modules/gui-applications.nix
  nixos/secrets/rclone-config-pcloud.age
  nixos/secrets/secrets.nix
Due: nixfmt

hypr: remove hyprsunset custom service
  hypr/.config/hypr/hyprland.conf
  nixos/modules/hyprland.nix
Due: nixfmt

feat(opencode): add conventional commit command
  opencode/.config/opencode/command/commit.md
Due: none

perf(dns): optimize DNS caching and query timeouts
  nixos/containers/dns/dns.nix
  nixos/containers/dns/unbound.nix
Due: nixfmt

docs(opencode): emphasize commit message body inclusion
  opencode/.config/opencode/command/commit.md
Due: none

chore(dotfiles): update git, nvim, and zsh configurations
  git/.config/git/ignore
  nvim/.config/nvim/lua/plugins/git.lua
  zsh/.config/zsh/aliasrc
Due: shfmt

nixos: firefox add performance improvements
  nixos/modules/home-manager/firefox.nix
Due: nixfmt

gh-dash: add catppuccin theme
  gh-dash/.config/gh-dash/config.yml
Due: check-yaml

nixos: flake update
  flake.lock
  nixos/hosts/mondo/packages.nix
Due: nixfmt

nvim: add terraform formatter
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

nixos: update to 25.11 and remove anyrun
  anyrun/.config/anyrun/applications.ron
  anyrun/.config/anyrun/config.ron
  anyrun/.config/anyrun/nix-run.ron
  anyrun/.config/anyrun/style.css
  anyrun/.config/anyrun/websearch.ron
  flake.lock
  flake.nix
  nix/.config/nix/nix.conf
  nixos/hosts/mondo/packages.nix
  nixos/hosts/pi4b/default.nix
  nixos/modules/cli-tools.nix
  nixos/modules/desktop-user.nix
  nixos/modules/gnome.nix
  nixos/modules/gui-applications.nix
  nixos/modules/home-manager/firefox.nix
  nixos/modules/login-manager-tuigreet.nix
  nixos/modules/nvim.nix
  nixos/modules/ssh.nix
  nixos/modules/suspend-then-hibernate.nix
  nixos/modules/terminal.nix
  nixos/modules/wayland-desktop-environment.nix
Due: nixfmt

chore: remove pcloud
  nixos/modules/gui-applications.nix
Due: nixfmt

vicinae: add initial config
  easyeffects/.config/easyeffects/output/fw-13-easyeffecs.json
  easyeffects/.config/easyeffects/output/lappy_mctopface.json
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/keybinds.conf
  justfile
  nixos/bin/link-dotfiles.sh
  vicinae/.config/vicinae/vicinae.json
Due: shfmt

zsh: add alias gsm
  zsh/.config/zsh/aliasrc
Due: shfmt

cleanuup anyrun
  README.md
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/keybinds.conf
  hypr/.config/hypr/scripts/vicinae-toggle.sh
  hypr/.config/hypr/windowrules.conf
  nixos/modules/anyrun.nix
  vicinae/.config/vicinae/vicinae.json
Due: nixfmt, shfmt

remove uwsm
  flake.lock
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/keybinds.conf
  hypr/.config/hypr/scripts/autostart.sh
  nixos/modules/hyprland.nix
  nixos/modules/wayland-desktop-environment.nix
Due: nixfmt, shfmt

fix viciane
  hypr/.config/hypr/scripts/vicinae-toggle.sh
Due: shfmt

chore: update rclone
  nixos/containers/backup.nix
Due: nixfmt

some fixes
  hypr/.config/hypr/env.conf
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/scripts/vicinae-toggle.sh
Due: shfmt

update nix flake
  easyeffects/.config/easyeffects/output/fw-13-easyeffecs.json
  easyeffects/.config/easyeffects/output/lappy_mctopface.json
  flake.lock
  hypr/.config/hypr/env.conf
Due: none

vicinae smaller font size
  vicinae/.config/vicinae/vicinae.json
Due: none

disable gnome ssh agent
  nixos/modules/hyprland.nix
  nixos/modules/ssh.nix
Due: nixfmt

fix typo and simplify unstable package call
  nixos/hosts/mondo/packages.nix
  nixos/hosts/nuc-g5/default.nix
  nixos/hosts/sgo2/default.nix
  nixos/modules/cli-tools.nix
  nixos/modules/desktop-user.nix
  nixos/modules/gui-applications.nix
  nixos/modules/home-manager/firefox.nix
  nixos/modules/nvim.nix
  nixos/modules/terminal.nix
Due: nixfmt

add new pre-commit check
  .pre-commit-config.yaml
Due: check-yaml

fix: sgo2
  nixos/hosts/sgo2/configuration.nix
  nixos/hosts/sgo2/home.nix
  nixos/modules/gnome.nix
Due: nixfmt

nixos: update nixos to 25.11 release (#22)
  .pre-commit-config.yaml
  README.md
  anyrun/.config/anyrun/applications.ron
  anyrun/.config/anyrun/config.ron
  anyrun/.config/anyrun/nix-run.ron
  anyrun/.config/anyrun/style.css
  anyrun/.config/anyrun/websearch.ron
  flake.lock
  flake.nix
  hypr/.config/hypr/env.conf
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/keybinds.conf
  hypr/.config/hypr/scripts/autostart.sh
  hypr/.config/hypr/scripts/vicinae-toggle.sh
  hypr/.config/hypr/windowrules.conf
  justfile
  nix/.config/nix/nix.conf
  nixos/bin/link-dotfiles.sh
  nixos/containers/backup.nix
  nixos/hosts/mondo/packages.nix
  nixos/hosts/nuc-g5/default.nix
  nixos/hosts/pi4b/default.nix
  nixos/hosts/sgo2/configuration.nix
  nixos/hosts/sgo2/default.nix
  nixos/hosts/sgo2/home.nix
  nixos/modules/anyrun.nix
  nixos/modules/cli-tools.nix
  nixos/modules/desktop-user.nix
  nixos/modules/gnome.nix
  nixos/modules/gui-applications.nix
  nixos/modules/home-manager/firefox.nix
  nixos/modules/hyprland.nix
  nixos/modules/login-manager-tuigreet.nix
  nixos/modules/nvim.nix
  nixos/modules/ssh.nix
  nixos/modules/suspend-then-hibernate.nix
  nixos/modules/terminal.nix
  nixos/modules/wayland-desktop-environment.nix
  vicinae/.config/vicinae/vicinae.json
Due: nixfmt, check-yaml, shfmt

nixos(darwin): update flake to 25.11
  flake.lock
  flake.nix
Due: nixfmt

opencode: add initial config
  opencode/.config/opencode/agent/code-reviewer.md
  opencode/.config/opencode/agent/codebase-analyzer.md
  opencode/.config/opencode/agent/codebase-locator.md
  opencode/.config/opencode/agent/codebase-pattern-finder.md
  opencode/.config/opencode/agent/developer.md
  opencode/.config/opencode/agent/thoughts-analyzer.md
  opencode/.config/opencode/agent/thoughts-locator.md
  opencode/.config/opencode/agent/ticket-creator.md
  opencode/.config/opencode/agent/web-search-researcher.md
  opencode/.config/opencode/command/commit.md
  opencode/.config/opencode/command/create_plan.md
  opencode/.config/opencode/context7.Dockerfile
  opencode/.config/opencode/opencode.json
Due: none

nixos: update watch
  nixos/containers/watch.nix
Due: nixfmt

nxios: flake update and cleanup nuc-g5
  flake.lock
  nixos/hosts/nuc-g5/configuration.nix
  nixos/modules/better-shell.nix
  nixos/modules/default-user.nix
Due: nixfmt

Path conditions:
  nixfmt: any of: \.nix$
  check-yaml: any of: \.(yml|yaml)$
  shfmt: any of: (.*\.sh$)|(\.zshrc|functionrc|aliasrc)
