Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

check-yaml:
  name: yamllint
  entry: yamllint
  args:
  - --strict
  language: system

shfmt:
  name: shfmt
  entry: shfmt
  args:
  - -l
  - -d
  - -i=2
  - -ci
  - -s
  - -bn
  - -w
  language: system

nu: replace deprecated flag
  nushell/.config/nushell/completers.nu
Due: none

nixos: nuc-g5 convert to server
  nixos/hosts/nuc-g5/default.nix
  nixos/hosts/nuc-g5/disko.nix
  nixos/modules/better-shell.nix
  nixos/modules/docker.nix
Due: nixfmt

nixos: vmVariant increase diskSize
  nixos/modules/vm-variant.nix
Due: nixfmt

zsh: add docker aliases
  zsh/.config/zsh/aliasrc
Due: shfmt

nvim: add yamlfmt and vacuum lsp for openapi
  nixos/modules/nvim.nix
  nvim/.config/nvim/lua/lsp/init.lua
  nvim/.config/nvim/lua/settings.lua
Due: nixfmt

nvim: make copilot work on more files
  nvim/.config/nvim/lua/plugins/editor.lua
Due: none

hypr: update gestures to new syntax
  hypr/.config/hypr/hyprland.conf
Due: none

nixos: flake update
  flake.lock
  nixos/modules/nvim.nix
Due: nixfmt

hypr: move all config to separate files
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/input.conf
  hypr/.config/hypr/ui.conf
  hypr/.config/hypr/wm.conf
Due: none

hypr: add more gestures
  hypr/.config/hypr/input.conf
Due: none

try microvm
  flake.lock
  flake.nix
  nixos/hosts/nuc-g5/default.nix
  nixos/microvms/default.nix
  nixos/microvms/immich.nix
  nixos/modules/agenix.nix
  nixos/secrets/secrets.nix
  nixos/secrets/tailscale-lab.age
Due: nixfmt

add user vm
  nixos/microvms/immich.nix
  nixos/microvms/vm-user.nix
Due: nixfmt

ai: add opencode
  justfile
  nixos/bin/link-dotfiles.sh
  nixos/modules/ai.nix
  opencode/.config/opencode/opencode.json
Due: nixfmt, shfmt

add microm config
  flake.lock
  nixos/microvms/immich.nix
  nixos/microvms/vm-user.nix
Due: nixfmt

move to nixos containers from microvm
  flake.lock
  flake.nix
  nixos/containers/default.nix
  nixos/containers/immich.nix
  nixos/containers/nginx.nix
  nixos/containers/paperless-ngx.nix
  nixos/hosts/nuc-g5/default.nix
  nixos/microvms/default.nix
  nixos/microvms/immich.nix
  nixos/microvms/vm-user.nix
Due: nixfmt

hypr: enable focus_on_activate
  hypr/.config/hypr/wm.conf
Due: none

agenix secrets
  nixos/containers/container-tailscale.nix
  nixos/containers/default.nix
  nixos/containers/immich.nix
  nixos/containers/nginx.nix
  nixos/modules/agenix.nix
Due: nixfmt

tailscale testing
  nixos/containers/container-tailscale.nix
  nixos/containers/immich.nix
  nixos/containers/paperless-ngx.nix
Due: nixfmt

containers enableTun
  nixos/containers/immich.nix
  nixos/containers/paperless-ngx.nix
Due: nixfmt

tailscale firewall
  nixos/containers/container-tailscale.nix
  nixos/containers/immich.nix
  nixos/containers/paperless-ngx.nix
Due: nixfmt

add systemActivation script
  nixos/containers/container-tailscale.nix
  nixos/containers/immich.nix
  nixos/containers/paperless-ngx.nix
Due: nixfmt

add allowedDevices
  nixos/containers/default.nix
  nixos/containers/immich.nix
  nixos/containers/paperless-ngx.nix
Due: nixfmt

nix: flake update
  flake.lock
Due: none

test new tailscale setting
  nixos/containers/container-tailscale.nix
  nixos/containers/default.nix
  nixos/containers/immich.nix
Due: nixfmt

connect host to tailscale
  nixos/containers/default.nix
Due: nixfmt

bring back ip addresses
  nixos/containers/immich.nix
Due: nixfmt

network connection
  nixos/containers/default.nix
Due: nixfmt

enable ipv6
  nixos/containers/default.nix
Due: nixfmt

change interface
  nixos/containers/default.nix
  nixos/containers/immich.nix
Due: nixfmt

add trustedInterface to container
  nixos/containers/immich.nix
Due: nixfmt

tailscale networking
  nixos/containers/container-tailscale.nix
  nixos/containers/immich.nix
Due: nixfmt

try bridge network
  nixos/containers/default.nix
  nixos/containers/immich.nix
Due: nixfmt

remove all bridge settings
  nixos/containers/default.nix
  nixos/containers/immich.nix
Due: nixfmt

simplify tailscale
  nixos/containers/container-tailscale.nix
  nixos/containers/immich.nix
Due: nixfmt

tailscale setup
  nixos/containers/container-tailscale.nix
  nixos/containers/immich.nix
Due: nixfmt

tailscale settings
  nixos/containers/container-tailscale.nix
  nixos/containers/immich.nix
Due: nixfmt

fix systemd service for ts serve
  nixos/containers/container-tailscale.nix
  nixos/containers/default.nix
  nixos/containers/immich.nix
Due: nixfmt

Path conditions:
  nixfmt: any of: \.nix$
  check-yaml: any of: \.(yml|yaml)$
  shfmt: any of: (.*\.sh$)|(\.zshrc|functionrc|aliasrc)
