Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

check-yaml:
  name: yamllint
  entry: yamllint
  args:
  - --strict
  language: system

shfmt:
  name: shfmt
  entry: shfmt
  args:
  - -l
  - -d
  - -i=2
  - -ci
  - -s
  - -bn
  - -w
  language: system

nvim: add terraform-ls
  nixos/modules/nvim.nix
  nvim/.config/nvim/lua/lsp/init.lua
Due: nixfmt

nix: flake update
  flake.lock
Due: none

nixos: add nvim development shell
  dev-shell.nix
  nixos/common/nvimPackages.nix
  nixos/modules/nvim.nix
Due: nixfmt

nixos: nvim development shell improvements
  dev-shell.nix
Due: nixfmt

nvim: remove server_capabilities setup from lsp it is setup as default
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nvim: switch to maintained colorizer plugin
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

ci.yml use determinate nix for speed
  .github/workflows/ci.yml
Due: check-yaml

nix: run flake update
  flake.lock
Due: none

hyprland: add lxqt polkit agent for gui applications
  hypr/.config/hypr/hyprland.conf
  nixos/modules/gui-applications.nix
  nixos/modules/hyprland.nix
Due: nixfmt

nix: fix nixfmt error
  nixos/templates/rust/flake.nix
Due: nixfmt

nvim: fix fzf-lua live_grep
  nvim/.config/nvim/lua/plugins/fzf.lua
Due: none

nix: mondo add podman and podman-compose
  nixos/hosts/mondo/packages.nix
Due: nixfmt

nix: add download-dotfiles command
  nixos/bin/download-dotfiles.sh
  nixos/bin/link-dotfiles.sh
  nixos/modules/dotfiles.nix
Due: nixfmt, shfmt

nvim: increase lazy.nvim timeout
  nvim/.config/nvim/lua/plugin_manager.lua
Due: none

nixos: readme format
  nixos/README.md
Due: none

nixos: fw13 update disko config
  nixos/hosts/fw13-amd/disko.nix
Due: nixfmt

zsh: update readme for ssh auth sock
  zsh/README.md
Due: none

hypr: ignore hyprland nags and some small improvements
  hypr/.config/hypr/hyprland.conf
Due: none

hypr: enter hyprland with uwsm
  nixos/modules/hyprland.nix
  nixos/modules/login-manager-tuigreet.nix
Due: nixfmt

nix: flake update
  flake.lock
  nixos/hosts/lenovo-y5070/disko.nix
Due: nixfmt

hypr: start hypridle service manually
  hypr/.config/hypr/hyprland.conf
Due: none

hypr: increase cursor size to 36 from 32
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/scripts/autostart.sh
  nixos/modules/home-manager/linux-ui.nix
Due: nixfmt, shfmt

hypr: move hyprland to unstable packages and enable drag_3fg
  hypr/.config/hypr/hyprland.conf
  nixos/modules/hyprland.nix
Due: nixfmt

feat: use nix develop as nix flake run
  .github/workflows/ci.yml
Due: check-yaml

nvim: colorizer disable names
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

nvim: blink.cmp use version instead of nix build
  nvim/.config/nvim/lua/plugins/editor.lua
Due: none

nixos: add ente-auth and gnome-keyring service
  nixos/modules/gui-applications.nix
  nixos/modules/hyprland.nix
Due: nixfmt

nixos: mondo add camo and logi-options to casks list
  nixos/hosts/mondo/homebrew.nix
Due: nixfmt

nix: add filen applications
  nixos/hosts/pi4b/selfhost.nix
  nixos/modules/gui-applications.nix
Due: nixfmt

nixos: add neovide for text desktop.application
  nixos/modules/terminal.nix
  nixos/modules/xdg-mime.nix
  nvim/.config/nvim/lua/settings.lua
Due: nixfmt

nixos: fix pi4b systemd settings and update nix
  flake.lock
  nixos/hosts/pi4b/configuration.nix
Due: nixfmt

nixos: add udiskie and automounting
  hypr/.config/hypr/scripts/autostart.sh
  justfile
  nixos/bin/link-dotfiles.sh
  nixos/modules/wayland-desktop-environment.nix
  nixos/modules/xdg-mime.nix
  udiskie/.config/udiskie/config.yml
Due: nixfmt, check-yaml, shfmt

nixos: pi4b add libsecret
  nixos/hosts/pi4b/selfhost.nix
Due: nixfmt

hypr: add alt+tab and german layout as secondary
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/keybinds.conf
Due: none

hypr: fix copyq windowrules
  hypr/.config/hypr/hyprland.conf
Due: none

hypr: add satty for Screenshots
  hypr/.config/hypr/keybinds.conf
  nixos/modules/wayland-desktop-environment.nix
Due: nixfmt

hypr: add hyprsunset profiles
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/hyprsunset.conf
  waybar/.config/waybar/scripts/toggle_hyprsunset.sh
Due: shfmt

nixos: add some specific mimetypes
  nixos/modules/xdg-mime.nix
Due: nixfmt

copyq: add copyq settings
  .gitignore
  copyq/.config/copyq/copyq.conf
  justfile
  nixos/bin/link-dotfiles.sh
Due: shfmt

Path conditions:
  nixfmt: any of: \.nix$
  check-yaml: any of: \.(yml|yaml)$
  shfmt: any of: (.*\.sh$)|(\.zshrc|functionrc|aliasrc)
