Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, isort, bandit, check-yaml, shfmt

flake8:
  name: flake8
  entry: flake8
  language: system

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  args:
  - --profile
  - black
  language: system

bandit:
  name: bandit
  entry: bandit --ini .bandit
  args:
  - -lll
  - --recursive
  - .
  language: system

check-yaml:
  name: yamllint
  entry: yamllint
  args:
  - --strict
  language: system

shfmt:
  name: shfmt
  entry: shfmt
  args:
  - -i=2
  - -ci
  - -bn
  language: system

efm: replace black with ruff format for faster formats on save
  efm-langserver/.config/efm-langserver/config.yaml
Due: check-yaml

efm: replace isort with ruff isort
  efm-langserver/.config/efm-langserver/config.yaml
Due: check-yaml

rtx: switch to rtx from asdf
  git/.config/git/ignore
  zsh/.config/zsh/.zshrc
Due: shfmt

nvim: update apex-lsp.jar location
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nvim: remove null-ls completely
  nvim/.config/nvim/lua/plugins/init.lua
  nvim/.config/nvim/lua/plugins/null-ls-plugin/init.lua
Due: none

nvim: try coq over cmp
  nvim/.config/nvim/lua/lsp/handlers.lua
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

direnv: remove config file it is not used anymore
  direnv/.config/direnv/direnvrc
Due: shfmt

bspw: make albert quiet
  bspwm/.config/bspwm/autostart.sh
Due: shfmt

rtx: add config dir and set versions to latest
  rtx/.config/rtx/config.toml
Due: none

sxhkdrc: update copyq shortcut
  sxhkd/.config/sxhkd/sxhkdrc
Due: shfmt

bspwm: remove albert
  bspwm/.config/bspwm/autostart.sh
  bspwm/.config/bspwm/bspwmrc
Due: shfmt

sxhkd: update rofi shortcut and add dmenu_run shortcut
  sxhkd/.config/sxhkd/sxhkdrc
Due: shfmt

starship: enable nodejs
  starship/.config/starship.toml
Due: none

zsh: add ls aliases
  zsh/.config/zsh/aliasrc
Due: shfmt

Revert "nvim: try coq over cmp"
  nvim/.config/nvim/lua/lsp/handlers.lua
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

nvim: remove autopairs plugin
  nvim/.config/nvim/lua/plugins/autopairs-plugin/init.lua
  nvim/.config/nvim/lua/plugins/cmp-plugin/init.lua
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

git: ignore rtx trusted-configs
  git/.config/git/ignore
Due: none

zsh: remove direnv hook
  zsh/.config/zsh/.zshrc
Due: shfmt

zsh: try to improve startup time
  zsh/.config/zsh/.zshrc
Due: shfmt

zsh: bring back bashcompinit
  zsh/.config/zsh/.zshrc
Due: shfmt

nvim: add url-open plugin
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

chore: remove stale setup.cfg
  setup.cfg
Due: none

zsh: add default less flag -R
  zsh/.config/zsh/env_vars
Due: none

gitui: Update theme.ron
  gitui/.config/gitui/theme.ron
Due: none

nvim: create gitui script and keybinding
  nvim/.config/nvim/init.lua
  nvim/.config/nvim/lua/commands.lua
  nvim/.config/nvim/lua/keybindings.lua
Due: none

nvim: remove toggleterm
  nvim/.config/nvim/lua/plugins/init.lua
  nvim/.config/nvim/lua/plugins/toggleterm-plugin/init.lua
Due: none

nvim: remove deprecated ts-rainbow plugin
  nvim/.config/nvim/lua/plugins/init.lua
  nvim/.config/nvim/lua/plugins/treesitter-plugin/init.lua
Due: none

gitui: update help keybinding form F1 to ?
  gitui/.config/gitui/key_bindings.ron
  gitui/.config/gitui/theme.ron
Due: none

nvim: add rainbow-delimiters.nvim
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

wezterm: add font_size 16 for bigger resolutions
  wezterm/.config/wezterm/wezterm.lua
Due: none

polybar: update to new tray module & fix font name
  polybar/.config/polybar/config.ini
Due: none

chore: update to new nerd font naming "NF"
  alacritty/.config/alacritty/alacritty.yml
  dunst/.config/dunst/dunstrc
  kitty/.config/kitty/kitty.conf
  polybar/.config/polybar/config.ini
  wezterm/.config/wezterm/wezterm.lua
Due: check-yaml, shfmt

polybar: us nerd font
  polybar/.config/polybar/config.ini
Due: none

nvim: update cmp buffer completion to use all buffers
  nvim/.config/nvim/lua/plugins/cmp-plugin/init.lua
Due: none

wezterm: increase font size
  wezterm/.config/wezterm/wezterm.lua
Due: none

wezterm: smaller font size
  wezterm/.config/wezterm/wezterm.lua
Due: none

nvim: use apex treesitter for apexcode
  nvim/.config/nvim/lua/plugins/treesitter-plugin/init.lua
Due: none

nvim: apex treesitter and filetype settings
  nvim/.config/nvim/lua/plugins/treesitter-plugin/init.lua
  nvim/.config/nvim/lua/settings.lua
Due: none

polybar: fix format-muted setting
  polybar/.config/polybar/config.ini
Due: none

nvim: update harpoon to version 2
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  bandit: any of: \.py$
  check-yaml: any of: \.(yml|yaml)$
  shfmt: any of: (.*\.sh$)|(.*rc$)
