Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: check-added-large-files
  - repo: https://github.com/astro/deadnix
    rev: v1.3.0
    hooks:
      - id: deadnix
        args: ["-L"]
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        types:
          - nix
      - id: stylua-check
        name: stylua
        entry: stylua
        language: system
        types:
          - lua
      - id: check-yaml
        name: yamllint
        entry: yamllint
        args: ["--strict"]
        language: system
        files: \.(yml|yaml)$
      - id: shfmt
        name: shfmt
        entry: shfmt
        args: [-l, -d, -i=2, -ci, -s, -bn, -w]
        language: system
        files: '(.*\.sh$)|(\.zshrc|functionrc|aliasrc)'
      - id: fixjson
        name: fixjson json5
        entry: fixjson
        args: ["--write"]
        language: system
        types:
          - json5

nvim: fzf-lua make img preview work
  nvim/.config/nvim/lua/plugins/fzf.lua
Due: none

nixos: firefox add nix package versions
  nixos/modules/home-manager/firefox.nix
Due: nixfmt

sesh: set hide-duplicates
  sesh/.config/sesh/sesh.toml
Due: none

nixos: darwin add mac-app-util and flake update
  flake.lock
  flake.nix
  nixos/hosts/mondo/configuration.nix
  nixos/hosts/mondo/default.nix
Due: nixfmt

nixos: darwin install heroku-cli from nix
  nixos/hosts/mondo/configuration.nix
  nixos/hosts/mondo/default.nix
  nixos/hosts/mondo/homebrew.nix
  nixos/hosts/mondo/packages.nix
Due: nixfmt

sesh: change tmux keybind and create zsh function
  tmux/.config/tmux/tmux.conf
  zsh/.config/zsh/functionrc
Due: shfmt

nixos: sgo2 improvements
  nixos/hosts/fw13-amd/configuration.nix
  nixos/hosts/fw13-amd/default.nix
  nixos/hosts/sgo2/configuration.nix
  nixos/hosts/sgo2/default.nix
  nixos/modules/suspend-then-hibernate.nix
Due: nixfmt

nix: run flake update
  flake.lock
Due: none

nixos(darwin): remove swapLeftCtrlAndFn
  nixos/hosts/mondo/configuration.nix
Due: nixfmt

nvim: update blink.cmp to 0.12
  nvim/.config/nvim/lua/plugins/editor.lua
Due: none

nixos: flake update
  flake.lock
Due: none

hypr: drop change-brigtness and volume step to 1 from 2
  hypr/.config/hypr/keybinds.conf
Due: none

nvim: convert abbreviations to lua keymap
  nvim/.config/nvim/lua/keymaps.lua
  nvim/.config/nvim/lua/plugins/git.lua
  nvim/.config/nvim/lua/settings.lua
Due: none

nix: flake update
  flake.lock
Due: none

nvim: set blink.cmp version to 0.1*
  nvim/.config/nvim/lua/plugins/editor.lua
Due: none

nushell: create initial config
  nushell/.config/nushell/config.nu
  nvim/.config/nvim/lua/lsp/init.lua
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

nvim: use latest blink.cmp and build it with nix
  nvim/.config/nvim/lua/plugins/editor.lua
Due: none

git: add history.sqlite3 to gitignore
  git/.config/git/ignore
Due: none

nushell: improve config
  nushell/.config/nushell/config.nu
Due: none

change from zsh -> nushell for main machines
  README.md
  justfile
  nixos/bin/daily-update.sh
  nixos/bin/link-dotfiles.sh
  nixos/hosts/fw13-amd/default.nix
  nixos/hosts/lenovo-y5070/default.nix
  nixos/hosts/mondo/configuration.nix
  nixos/hosts/mondo/default.nix
  nixos/hosts/sgo2/default.nix
  nixos/modules/aliases.nix
  nixos/modules/cli-tools.nix
  nixos/modules/default-user.nix
  nixos/modules/desktop-user.nix
  nushell/.config/nushell/autin.nu
  nushell/.config/nushell/catppuccin-mocha.nu
  nushell/.config/nushell/completers.nu
  nushell/.config/nushell/config.nu
Due: nixfmt, shfmt

source bash_profile if exists
  git/.config/git/ignore
  nushell/.config/nushell/config.nu
Due: none

move atuin script to autoreload
  .editorconfig
  nushell/.config/nushell/autin.nu
  nushell/.config/nushell/config.nu
Due: none

add plugin polars and use unstable nushell
  git/.config/git/ignore
  nixos/modules/desktop-user.nix
  nushell/.config/nushell/config.nu
Due: nixfmt

remove echo
  nushell/.config/nushell/config.nu
Due: none

add plugin polars only if it is missing
  nushell/.config/nushell/config.nu
Due: none

add custom menu
  nushell/.config/nushell/catppuccin-mocha.nu
  nushell/.config/nushell/config.nu
Due: none

add carapace completer
  nixos/modules/cli-tools.nix
  nushell/.config/nushell/completers.nu
Due: nixfmt

install nushell from pkgs-unstable for mondo
  nixos/hosts/mondo/configuration.nix
Due: nixfmt

remove shellInit
  nixos/hosts/mondo/configuration.nix
Due: nixfmt

nixos: firefox hw acceleration force
  nixos/modules/home-manager/firefox.nix
Due: nixfmt

flake update
  flake.lock
  nixos/modules/cli-tools.nix
Due: nixfmt

small fix
  nixos/hosts/mondo/configuration.nix
Due: nixfmt

link-dotfiles should have zsh
  nixos/bin/link-dotfiles.sh
Due: shfmt

Add support to nushell (#8)
  .editorconfig
  README.md
  flake.lock
  git/.config/git/ignore
  justfile
  nixos/bin/daily-update.sh
  nixos/bin/link-dotfiles.sh
  nixos/hosts/fw13-amd/default.nix
  nixos/hosts/lenovo-y5070/default.nix
  nixos/hosts/mondo/configuration.nix
  nixos/hosts/mondo/default.nix
  nixos/hosts/sgo2/default.nix
  nixos/modules/aliases.nix
  nixos/modules/cli-tools.nix
  nixos/modules/default-user.nix
  nixos/modules/desktop-user.nix
  nixos/modules/zsh.nix
  nushell/.config/nushell/catppuccin-mocha.nu
  nushell/.config/nushell/completers.nu
  nushell/.config/nushell/config.nu
Due: nixfmt, shfmt

atuin: do not sore failed commands
  atuin/.config/atuin/config.toml
Due: none

Revert "atuin: do not sore failed commands"
  atuin/.config/atuin/config.toml
Due: none

create initial template
  nixos/templates/rust/flake.nix
Due: nixfmt

add template to flake.nix
  flake.nix
Due: nixfmt

add envrc to rust
  nixos/templates/rust/.envrc
Due: none
