Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

check-yaml:
  name: yamllint
  entry: yamllint
  args:
  - --strict
  language: system

shfmt:
  name: shfmt
  entry: shfmt
  args:
  - -l
  - -d
  - -i=2
  - -ci
  - -s
  - -bn
  - -w
  language: system

update noctalie conf
  noctalia/.local/state/noctalia/settings.toml
Due: none

nix: add opengym container (#39)
  flake.lock
  nixos/containers/default.nix
  nixos/containers/opengym.nix
  nixos/containers/watch.nix
  nixos/hosts/nuc-g5/containers.nix
  noctalia/.local/state/noctalia/settings.toml
Due: nixfmt

nix: update nix flake and fixes
  flake.lock
  nixos/containers/immich.nix
  nixos/containers/karakeep.nix
  nixos/containers/trilium.nix
  noctalia/.local/state/noctalia/settings.toml
Due: nixfmt

nvim: fix foldexpr
  flake.lock
  nvim/.config/nvim/lua/settings.lua
Due: none

nix: add llm-agents
  flake.lock
  flake.nix
  nixos/modules/ai.nix
Due: nixfmt

nix: flake update
  flake.lock
Due: none

nixos: set profile balanced while charging
  noctalia/.local/state/noctalia/settings.toml
Due: none

nix: add hangar
  flake.lock
  flake.nix
  nixos/bin/link-dotfiles.sh
  nixos/hosts/mondo/default.nix
  nixos/hosts/mondo/packages.nix
  nixos/modules/hangar.nix
Due: nixfmt, shfmt

opencode: ignore some common files from watcher
  opencode/.config/opencode/opencode.json
Due: none

Path conditions:
  nixfmt: any of: \.nix$
  check-yaml: any of: \.(yml|yaml)$
  shfmt: any of: (.*\.sh$)|(\.zshrc|functionrc|aliasrc)
