Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: check-added-large-files
  - repo: https://github.com/astro/deadnix
    rev: v1.3.0
    hooks:
      - id: deadnix
        args: ["-L"]
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        types:
          - nix
      - id: stylua-check
        name: stylua
        entry: stylua
        language: system
        types:
          - lua
      - id: check-yaml
        name: yamllint
        entry: yamllint
        args: ["--strict"]
        language: system
        files: \.(yml|yaml)$
      - id: shfmt
        name: shfmt
        entry: shfmt
        args: [-l, -d, -i=2, -ci, -s, -bn, -w]
        language: system
        files: '(.*\.sh$)|(\.zshrc|functionrc|aliasrc)'
      - id: fixjson
        name: fixjson json5
        entry: fixjson
        args: ["--write"]
        language: system
        types:
          - json5

nixos: improve link-dotfiles to clone dotfiles in HTTPS mode as fallback
  nixos/bin/link-dotfiles.sh
Due: shfmt

nixos: improve link-dotfiles script to remove dirs before symlinking
  nixos/bin/link-dotfiles.sh
Due: shfmt

hypr: use hyprsunset systemd service
  hypr/.config/hypr/hyprland.conf
Due: none

nixos: mondo move to docker from podman
  nixos/hosts/mondo/homebrew.nix
  nixos/hosts/mondo/packages.nix
Due: nixfmt

nixos: change element-desktop with fractal
  hypr/.config/hypr/hyprland.conf
  nixos/modules/gui-applications.nix
Due: nixfmt

hypr: set accel_profile to flat and sensivity to 0.75
  hypr/.config/hypr/hyprland.conf
Due: none

nixos: flake update and sensitivity changes
  flake.lock
  hypr/.config/hypr/hyprland.conf
Due: none

nvim: change lua_ls with emmylua_ls
  .emmyrc.json
  dev-shell.nix
  nixos/common/nvimPackages.nix
  nixos/modules/nvim.nix
  nvim/.config/nvim/lua/lsp/init.lua
Due: nixfmt

nixos: move desktop-user cli tools to cli-tools.nix
  nixos/modules/cli-tools.nix
  nixos/modules/desktop-user.nix
Due: nixfmt

git: add performance improving settings
  git/.config/git/config
  nixos/modules/cli-tools.nix
Due: nixfmt

starship: enable use_git_executable for git status
  starship/.config/starship.toml
Due: none

nix: update nix flake
  flake.lock
Due: none

chore: update pre-commit
  .pre-commit-config.yaml
Due: check-yaml

nvim: add lsp ty for python
  nixos/modules/nvim.nix
  nvim/.config/nvim/lua/lsp/init.lua
Due: nixfmt

hyprland: use uwsm to launch applications
  hypr/.config/hypr/keybinds.conf
  hypr/.config/hypr/scripts/autostart.sh
  nixos/modules/wayland-desktop-environment.nix
Due: nixfmt, shfmt

nixos: enable enableRedistributableFirmware for fw13
  nixos/hosts/fw13-amd/hardware-configuration.nix
  tofi/.config/tofi/config
Due: nixfmt

nixos: hyprland move to dolphin from pcmanfm
  hypr/.config/hypr/keybinds.conf
  hypr/.config/hypr/scripts/autostart.sh
  nixos/modules/wayland-desktop-environment.nix
  nixos/modules/xdg-mime.nix
  udiskie/.config/udiskie/config.yml
Due: nixfmt, check-yaml, shfmt

nixos: switch to hyprpolkit in hyprland
  hypr/.config/hypr/hyprland.conf
  nixos/modules/hyprland.nix
Due: nixfmt

hypr: fix file upload and xdg-desktop=portal window borders
  hypr/.config/hypr/hyprland.conf
Due: none

hypr: add qt support package
  hypr/.config/hypr/hyprland.conf
  nixos/modules/hyprland.nix
Due: nixfmt

hypr: fix qt platform theme setup
  hypr/.config/hypr/hyprland.conf
Due: none

hypr: change qt controls style to fusion
  hypr/.config/hypr/hyprland.conf
Due: none

nixos:flake update and use pkgs for kernel package
  flake.lock
  nixos/hosts/fw13-amd/hardware-configuration.nix
  nixos/modules/latest-kernel.nix
Due: nixfmt

nixos: mondo add copyq-fix script
  nixos/hosts/mondo/packages.nix
  nixos/hosts/mondo/scripts/copyq_fix.sh
Due: nixfmt, shfmt

nvim: remove unused fzf keymap
  nvim/.config/nvim/lua/plugins/fzf.lua
Due: none

hypr: automate hyprsunset
  hypr/.config/hypr/hyprland.conf
  nixos/modules/hyprland.nix
Due: nixfmt

nix: update flake
  flake.lock
Due: none

hypr: fix hyprsunset script to have procps for pkill
  nixos/modules/hyprland.nix
Due: nixfmt

hypr: add nwg-displays and some monitor confs
  .gitignore
  flake.lock
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/monitors.conf
  hypr/.config/hypr/scripts/handle_lid_switch.sh
  hypr/.config/hypr/workspaces.conf
  justfile
  nixos/bin/link-dotfiles.sh
  nixos/modules/gui-applications.nix
  nwg-displays/.config/nwg-displays/config
Due: nixfmt, shfmt

hypr: set mouse_move_focuses_monitor = true
  hypr/.config/hypr/hyprland.conf
Due: none

hypr: visual improvements
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/keybinds.conf
  nixos/modules/home-manager/linux-ui.nix
  tofi/.config/tofi/config
  waybar/.config/waybar/style.css
Due: nixfmt

hypr: use uwsm more and improve tofi speed
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/keybinds.conf
  nixos/modules/desktop-user.nix
  tofi/.config/tofi/config
Due: nixfmt

anyrun: fix anyrun application search and add some plugins
  anyrun/.config/anyrun/applications.ron
  anyrun/.config/anyrun/config.ron
  anyrun/.config/anyrun/style.css
  tofi/.config/tofi/config
Due: none

hypr: move to rose-pine-hyprcursor
  hypr/.config/hypr/hyprland.conf
  nixos/modules/home-manager/linux-ui.nix
  nixos/modules/hyprland.nix
Due: nixfmt

hypr: same cursor size for gtk
  nixos/modules/home-manager/linux-ui.nix
Due: nixfmt

nixos: use anyrun from nixpkgs
  anyrun/.config/anyrun/websearch.ron
  flake.lock
  flake.nix
  nixos/modules/anyrun.nix
Due: nixfmt

hypr: move env vars and windowrules to separate files
  hypr/.config/hypr/env.conf
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/windowrules.conf
Due: none

anyrun: add nix-run config and searxng to websearch
  anyrun/.config/anyrun/nix-run.ron
  anyrun/.config/anyrun/websearch.ron
Due: none

hypr: add smart gaps
  anyrun/.config/anyrun/websearch.ron
  hypr/.config/hypr/windowrules.conf
Due: none

hypr: add gapsout 1 to single app workspace view
  hypr/.config/hypr/windowrules.conf
Due: none
