Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

nixfmt:
  name: nixfmt
  entry: nixfmt
  language: system

check-yaml:
  name: yamllint
  entry: yamllint
  args:
  - --strict
  language: system

shfmt:
  name: shfmt
  entry: shfmt
  args:
  - -l
  - -d
  - -i=2
  - -ci
  - -s
  - -bn
  - -w
  language: system

nixos: update flake
  flake.lock
Due: none

nixos: add try to make gpio work on rpi
  nixos/hosts/pi4b/configuration.nix
  nixos/hosts/pi4b/fan-control.nix
  nixos/hosts/pi4b/gpio.nix
Due: nixfmt

nixos: rpi allow unfree software
  nixos/hosts/pi4b/fan-control.nix
Due: nixfmt

nixos: use gpio.nix
  nixos/hosts/pi4b/default.nix
Due: nixfmt

zsh: better gp shortcut
  nushell/.config/nushell/config.nu
  zsh/.config/zsh/aliasrc
Due: shfmt

nixos: rpi use latest kernel
  nixos/hosts/pi4b/default.nix
Due: nixfmt

kitty: disable bell
  kitty/.config/kitty/kitty.conf
Due: none

nvim: move nix format to conform nvim
  nvim/.config/nvim/lua/lsp/init.lua
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

nixos: flake update
  flake.lock
Due: none

nixos: pi4b remove fan-control
  nixos/hosts/pi4b/default.nix
  nixos/hosts/pi4b/fan-control.nix
Due: nixfmt

nixos: pi4b use enableRedistributableFirmware
  nixos/hosts/pi4b/configuration.nix
Due: nixfmt

nixos: rust template replace cargo-watch with bacon
  nixos/templates/rust/flake.nix
Due: nixfmt

nvim: remove deprecated keymap and fix border for lsp hover
  nvim/.config/nvim/lua/keymaps.lua
  nvim/.config/nvim/lua/lsp/handlers.lua
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nixos: fw13 hardware enableAllFirmware and wirelessRegulatoryDatabase
  nixos/hosts/fw13-amd/hardware-configuration.nix
  nixos/modules/wlan.nix
Due: nixfmt

nixos: add tree-sitter to neovim deps
  nixos/modules/nvim.nix
Due: nixfmt

zsh: add alias grc
  zsh/.config/zsh/aliasrc
Due: shfmt

nvim: update lsp configuration to use 0.11 syntax
  nvim/.config/nvim/lua/lsp/handlers.lua
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nixos: flake update and remove nushell from mondo
  README.md
  flake.lock
  nixos/hosts/mondo/configuration.nix
Due: nixfmt

nix: flake update
  flake.lock
Due: none

hypr: improve windowrules
  flake.lock
  hypr/.config/hypr/hyprland.conf
Due: none

nixos: add podman to mondo
  flake.lock
  nixos/hosts/mondo/default.nix
Due: nixfmt

nixos: remove podman from mondo virtualisation doesn't exists
  nixos/hosts/mondo/default.nix
Due: nixfmt

nixos: update to 25.05
  flake.lock
  flake.nix
  nixos/modules/default-user.nix
  nixos/modules/desktop-user.nix
  nixos/modules/home-manager/firefox.nix
  nixos/modules/terminal.nix
Due: nixfmt

hypr: update config to new version settings
  hypr/.config/hypr/hyprlock.conf
  nixos/modules/hyprland.nix
Due: nixfmt

nixos: darwin update to 25.05
  dev-shell.nix
  flake.lock
  git/.config/git/ignore
  nixos/hosts/mondo/configuration.nix
  nixos/hosts/mondo/homebrew.nix
  nixos/hosts/mondo/packages.nix
Due: nixfmt

nixos: gnome exclude music player
  nixos/modules/gnome.nix
Due: nixfmt

nvim: simplify lsp setup
  nvim/.config/nvim/lua/lsp/init.lua
  nvim/.config/nvim/lua/plugins/lsp.lua
Due: none

nixos: update nvim.nix to have jq as json formatter
  nixos/hosts/nuc-g5/default.nix
  nixos/modules/nvim.nix
  nvim/.config/nvim/lua/plugins/code.lua
Due: nixfmt

nixos: update linux-ui to set preferred theme dark
  .gitignore
  flake.lock
  nixos/modules/home-manager/linux-ui.nix
  nvim/.config/nvim/lua/plugins/editor.lua
Due: nixfmt

nixos: mondo add bruno
  nixos/hosts/mondo/packages.nix
Due: nixfmt

nvim: update fzf-lua keymaps
  nvim/.config/nvim/lua/plugins/fzf.lua
Due: none

nixos: mondo add utm to packages
  nixos/hosts/mondo/packages.nix
  nvim/.config/nvim/lua/plugins/fzf.lua
Due: nixfmt

nvim: clean up
  nvim/.config/nvim/lua/keymaps.lua
Due: none

nvim: add more fzf-lua keymaps
  nvim/.config/nvim/lua/plugins/fzf.lua
Due: none

nvim: add snacks.nvim to replace some plugins
  nvim/.config/nvim/lua/plugins/code.lua
  nvim/.config/nvim/lua/plugins/lsp.lua
  nvim/.config/nvim/lua/plugins/ui.lua
Due: none

nixos: flake update
  flake.lock
  nixos/hosts/mondo/packages.nix
Due: nixfmt

yazi: udpate config
  yazi/.config/yazi/theme.toml
  yazi/.config/yazi/yazi.toml
Due: none

nvim: snacks.nvim disable image and mini.files function keymap
  nvim/.config/nvim/lua/plugins/files.lua
  nvim/.config/nvim/lua/plugins/ui.lua
Due: none

Path conditions:
  nixfmt: any of: \.nix$
  check-yaml: any of: \.(yml|yaml)$
  shfmt: any of: (.*\.sh$)|(\.zshrc|functionrc|aliasrc)
