Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, shfmt

.pre-commit-config.yaml:

repos:
  - repo: git@github.com:pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-added-large-files
  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.3.0
    hooks:
      - id: nixpkgs-fmt
  - repo: local
    hooks:
      - id: stylua-check
        name: stylua
        entry: stylua
        language: system
        types:
          - lua
      - id: check-yaml
        name: yamllint
        entry: yamllint
        args: ["--strict"]
        language: system
        files: \.(yml|yaml)$
      - id: shfmt
        name: shfmt
        entry: shfmt
        args: [-l, -d, -i=2, -ci, -s, -bn, -w]
        language: system
        files: '(.*\.sh$)|(\.zshrc|functionrc|aliasrc)'

nvim: add toml and yaml formatters
  .yamllint.yaml
  nvim/.config/nvim/lua/plugins/code.lua
Due: check-yaml

direnv: update poetry layour
  direnv/.config/direnv/direnvrc
Due: none

nvim: move linters from efm to nvim-lint
  efm-langserver/.config/efm-langserver/config.yaml
  nvim/.config/nvim/lua/commands.lua
  nvim/.config/nvim/lua/keymaps.lua
  nvim/.config/nvim/lua/plugins/code.lua
Due: check-yaml

nvim: remove efm lsp setup
  justfile
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nvim: fix treesitter setup
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

update pre-commit
  .pre-commit-config.yaml
Due: check-yaml

readme remove wezterm
  README.md
Due: none

add djlint
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

conform.nvim enable injected
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

Add markdown lint
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

Add deadnix linter
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

Move js linting and formatting to biomejs
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

cleanup nvim.nix
  nixos/modules/nvim.nix
Due: none

Cleanup nvim.nix
  nixos/modules/nvim.nix
Due: none

Add prettierd nvim.nix
  nixos/modules/nvim.nix
Due: none

Add deadnix to dev-shell.nix
  dev-shell.nix
Due: none

remove all prettier formatters
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

fix formatters biomejs -> biome
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

add prettierd back
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

fix merge issues
  nvim/.config/nvim/lua/plugins/cmp-plugin/tabnine.lua
  nvim/.config/nvim/lua/plugins/lsp.lua
  nvim/.config/nvim/lua/plugins/ui.lua
Due: none

add initial nix-darwin setup
  flake.lock
  flake.nix
  nixos/hosts/mondo/README.md
  nixos/hosts/mondo/configuration.nix
  nixos/hosts/mondo/default.nix
  nixos/modules/anyrun.nix
  nixos/modules/desktop-user.nix
  nixos/modules/documentation.nix
  nixos/modules/dotfiles.nix
  nixos/modules/dunst.nix
  nixos/modules/gc.nix
  nixos/modules/hyprland.nix
  nixos/modules/kitty.nix
  nixos/modules/nvim.nix
  nixos/modules/ollama.nix
  nixos/modules/waybar.nix
  nixos/modules/wayland-desktop-environment.nix
  nixos/modules/zsh.nix
Due: none

some fixes for darwin setup
  fzf/.fzf.zsh
  justfile
  nixos/hosts/mondo/configuration.nix
Due: none

nix darwin add some settings
  nixos/hosts/mondo/configuration.nix
Due: none

add homebrew to nix and some improvements on poetry layout
  dev-shell.nix
  direnv/.config/direnv/direnvrc
  nixos/hosts/mondo/configuration.nix
  nixos/hosts/mondo/default.nix
  nixos/hosts/mondo/homebrew.nix
Due: none

fix homebrew
  dev-shell.nix
  nixos/hosts/mondo/homebrew.nix
Due: none

cleanup brews
  nixos/hosts/mondo/homebrew.nix
  nixos/modules/dotfiles.nix
Due: none

create link-dotfiles script
  direnv/.config/direnv/direnvrc
  fzf/.fzf.zsh
  justfile
  nixos/bin/link-dotfiles.sh
  nixos/modules/dotfiles.nix
  zsh/.config/zsh/.zshrc
  zsh/.config/zsh/env_vars
Due: shfmt

add daily-update script
  nixos/bin/daily-update.sh
  nixos/bin/link-dotfiles.sh
  nixos/modules/dotfiles.nix
Due: shfmt

remove activationScripts and use stow to link
  justfile
  nixos/bin/link-dotfiles.sh
  nixos/modules/anyrun.nix
  nixos/modules/desktop-user.nix
  nixos/modules/documentation.nix
  nixos/modules/dotfiles.nix
  nixos/modules/dunst.nix
  nixos/modules/hyprland.nix
  nixos/modules/kitty.nix
  nixos/modules/nvim.nix
  nixos/modules/waybar.nix
  nixos/modules/wayland-desktop-environment.nix
  nixos/modules/zsh.nix
Due: shfmt

nvim: gutentags should handle cache dir itself
  nvim/.config/nvim/lua/plugins/fzf.lua
Due: none

Update readme
  README.md
Due: none

Update README.md
  README.md
Due: none

Update .envrc.sample to watch dev-shell.nix
  .envrc.sample
Due: none

zsh fix fzf setup
  zsh/.config/zsh/.zshrc
Due: shfmt

Remove screen aliases from aliasrc
  zsh/.config/zsh/aliasrc
Due: shfmt

clean up unusued configs
  btop/.config/btop/btop.conf
  fzf/.fzf.zsh
  mise/.config/mise/config.toml
  mise/.config/mise/settings.toml
Due: none

Add stylua to dev-shell.nix
  dev-shell.nix
Due: none

Add back poetry install to poetry layout
  direnv/.config/direnv/direnvrc
Due: none
