Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-toml
      - id: end-of-file-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astro/deadnix
    rev: v1.3.1
    hooks:
      - id: deadnix
        args: ["-L"]
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        types:
          - nix
      - id: stylua-check
        name: stylua
        entry: stylua
        language: system
        types:
          - lua
      - id: check-yaml
        name: yamllint
        entry: yamllint
        args: ["--strict"]
        language: system
        files: \.(yml|yaml)$
      - id: shfmt
        name: shfmt
        entry: shfmt
        args: [-l, -d, -i=2, -ci, -s, -bn, -w]
        language: system
        files: '(.*\.sh$)|(\.zshrc|functionrc|aliasrc)'
      - id: fixjson
        name: fixjson json5
        entry: fixjson
        args: ["--write"]
        language: system
        types:
          - json5

add desktop entry
  nixos/hosts/sgo2/default.nix
  nixos/modules/home-assistant/home_assistan_desktop_entry.nix
Due: nixfmt

fix name
  justfile
  nixos/hosts/sgo2/default.nix
  nixos/hosts/sgo2/home.nix
  nixos/modules/home-assistant/home_assistant_desktop_entry.nix
Due: nixfmt

fix desktop entry
  nixos/hosts/sgo2/default.nix
  nixos/hosts/sgo2/home.nix
  nixos/modules/home-assistant/home_assistant_desktop_entry.nix
Due: nixfmt

fix
  nixos/modules/home-assistant/home-assistant.svg
  nixos/modules/home-assistant/home_assistant_desktop_entry.nix
Due: nixfmt

add new lovelace modules
  nixos/modules/home-assistant/default.nix
Due: nixfmt

adguard filter improvements
  nixos/containers/adguard.nix
  nixos/modules/home-assistant/default.nix
Due: nixfmt

cleanup
  nixos/modules/home-assistant/automations/default.nix
  nixos/modules/home-assistant/automations/turn_off_tv.nix
Due: nixfmt

nixos: convert pi4b to run home-assistant (#16)
  justfile
  nixos/containers/adguard.nix
  nixos/hosts/pi4b/agenix.nix
  nixos/hosts/pi4b/configuration.nix
  nixos/hosts/pi4b/default.nix
  nixos/hosts/pi4b/hardware-configuration.nix
  nixos/hosts/pi4b/selfhost.nix
  nixos/hosts/sgo2/default.nix
  nixos/modules/home-assistant/automations/default.nix
  nixos/modules/home-assistant/automations/turn_off_tv.nix
  nixos/modules/home-assistant/default.nix
  nixos/modules/home-assistant/home-assistant.svg
  nixos/modules/home-assistant/home_assistant_desktop_entry.nix
  nixos/modules/home-assistant/themes/catppuccin.yaml
  nixos/modules/home-assistant/themes/default.nix
  nixos/secrets/home_elevation.age
  nixos/secrets/home_latitude.age
  nixos/secrets/home_longitude.age
  nixos/secrets/rclone-config-filen.age
  nixos/secrets/restic-password.age
  nixos/secrets/searx-secret.age
  nixos/secrets/secrets.nix
  nixos/secrets/tailscale-lab.age
Due: nixfmt, check-yaml

nix: update flake
  flake.lock
Due: none

nixos: g5 mark @wheel group as trusted
  nixos/hosts/nuc-g5/configuration.nix
Due: nixfmt

nixos: use nixos-rebuild-ng for remote deploys
  justfile
  nixos/modules/nix-settings.nix
Due: nixfmt

sesh: add window config
  justfile
  sesh/.config/sesh/sesh.toml
Due: none

ci: add nix build check
  .github/workflows/build.yml
  .github/workflows/check.yml
  .yamllint.yaml
Due: check-yaml

try determinate nix
  .github/workflows/ci.yml
  .yamllint.yaml
Due: check-yaml

rename ci suite
  .github/workflows/ci.yml
Due: check-yaml

nixos: loki enable retention of 7 days
  nixos/containers/monitoring/grafana.nix
Due: nixfmt

nixos: alloy remove docker metrics and logs
  nixos/containers/monitoring/alloy-log-report.nix
Due: nixfmt

nixos: pi4b disable eth0 dhcp
  nixos/hosts/pi4b/agenix.nix
  nixos/hosts/pi4b/configuration.nix
Due: nixfmt

wip
  flake.lock
  nixos/containers/container-tailscale.nix
  nixos/containers/default.nix
  nixos/containers/monitoring/grafana.nix
  nixos/containers/ntfy.nix
  nixos/modules/home-assistant/default.nix
Due: nixfmt

remove manual nameserver
  nixos/containers/container-tailscale.nix
Due: nixfmt

remove userspace-networking
  nixos/containers/container-tailscale.nix
Due: nixfmt

make adguard theme dark
  nixos/containers/adguard.nix
Due: nixfmt

remove commented code
  nixos/containers/monitoring/grafana.nix
Due: nixfmt

nixos: add ntfy container (#19)
  flake.lock
  nixos/containers/adguard.nix
  nixos/containers/container-tailscale.nix
  nixos/containers/default.nix
  nixos/containers/ntfy.nix
  nixos/modules/home-assistant/default.nix
Due: nixfmt

nixos: add uptime-kuma
  nixos/containers/default.nix
  nixos/containers/uptime-kuma.nix
  nixos/modules/home-assistant/default.nix
Due: nixfmt

nixos: backup uptime-kuma
  nixos/containers/backup.nix
Due: nixfmt

nix: flake update
  flake.lock
Due: none

httpi: add http config
  httpie/.config/httpie/config.json
  justfile
  nixos/bin/link-dotfiles.sh
  nixos/modules/cli-tools.nix
Due: nixfmt, shfmt

dns: create new adguard server with unbound
  nixos/containers/default.nix
  nixos/containers/dns/default.nix
  nixos/containers/dns/dns.nix
  nixos/containers/dns/redis.nix
  nixos/containers/dns/unbound.nix
  nixos/hosts/nuc-g5/configuration.nix
Due: nixfmt

add karakeep
  nixos/containers/adguard.nix
  nixos/containers/default.nix
  nixos/containers/karakeep.nix
Due: nixfmt

nixos: recursive dns server and karakeep (#20)
  nixos/containers/default.nix
  nixos/containers/dns/default.nix
  nixos/containers/dns/dns.nix
  nixos/containers/dns/redis.nix
  nixos/containers/dns/unbound.nix
  nixos/containers/karakeep.nix
  nixos/hosts/nuc-g5/configuration.nix
Due: nixfmt

nixos: add watch service
  nixos/containers/default.nix
  nixos/containers/watch.nix
  nixos/hosts/nuc-g5/default.nix
  nixos/secrets/companion_env.age
  nixos/secrets/invidious_extra_conf.age
  nixos/secrets/secrets.nix
Due: nixfmt

hypr: remove handle lid switch script call and anyrun windwrule
  hypr/.config/hypr/keybinds.conf
  hypr/.config/hypr/windowrules.conf
Due: none

nixos: update adguard user filters
  nixos/containers/dns/dns.nix
Due: nixfmt

nixos: watch set domain and port for external
  nixos/containers/watch.nix
Due: nixfmt

firefox: improve hdr support
  nixos/modules/home-manager/firefox.nix
Due: nixfmt

nixos: backup karakeep and grafana
  nixos/containers/backup.nix
  nixos/containers/dns/dns.nix
Due: nixfmt

git: ignore httpie version info file
  .gitignore
Due: none

nixox: grafana disable check_for_plugin_updates
  nixos/containers/monitoring/grafana.nix
Due: nixfmt

nixos: update companion
  nixos/containers/watch.nix
Due: nixfmt
