Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-toml
      - id: end-of-file-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astro/deadnix
    rev: v1.3.1
    hooks:
      - id: deadnix
        args: ["-L"]
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        types:
          - nix
      - id: stylua-check
        name: stylua
        entry: stylua
        language: system
        types:
          - lua
      - id: check-yaml
        name: yamllint
        entry: yamllint
        args: ["--strict"]
        language: system
        files: \.(yml|yaml)$
      - id: shfmt
        name: shfmt
        entry: shfmt
        args: [-l, -d, -i=2, -ci, -s, -bn, -w]
        language: system
        files: '(.*\.sh$)|(\.zshrc|functionrc|aliasrc)'
      - id: fixjson
        name: fixjson json5
        entry: fixjson
        args: ["--write"]
        language: system
        types:
          - json5

fix(fw13-amd): dbus timeout, electron whitelist, noctalia lock triggers
  hypr/.config/hypr/startup.lua
  nixos/hosts/fw13-amd/configuration.nix
  nixos/modules/gui-applications.nix
  noctalia/.config/noctalia/noctalia-config.toml
Due: nixfmt

add fastfetch config
  README.md
  dev-shell.nix
  fastfetch/.config/fastfetch/config.jsonc
  hypr/.config/hypr/monitors.lua
  justfile
Due: nixfmt

fix(suspend): use powerManagement.resumeCommands for post-resume hooks
  nixos/hosts/fw13-amd/suspend_tricks.nix
Due: nixfmt

fix(suspend): lid close uses suspend-then-hibernate
  nixos/modules/suspend-then-hibernate.nix
Due: nixfmt

fix(hypridle): update DPMS commands for hyprland 0.49+
  hypr/.config/hypr/hypridle.conf
Due: none

perf(fw13-amd): reduce GPU memory clock for battery savings
  flake.lock
  hypr/.config/hypr/monitors.lua
  nixos/hosts/fw13-amd/hardware-configuration.nix
Due: nixfmt

update noctalia bar
  noctalia/.config/noctalia/noctalia-config.toml
Due: none

chore(fastfetch): add SSD model to Hardware section
  fastfetch/.config/fastfetch/config.jsonc
Due: none

fix(fastfetch): read SSD model dynamically from sysfs
  fastfetch/.config/fastfetch/config.jsonc
  hypr/.config/hypr/hypridle.conf
Due: none

fix(fastfetch): make SSD model lookup portable across storage types
  fastfetch/.config/fastfetch/config.jsonc
Due: none

refactor(hypr): clean up keybinds, remove script wrappers and dunst
  hypr/.config/hypr/input.lua
  hypr/.config/hypr/keybinds.lua
  hypr/.config/hypr/scripts/change-brigtness.sh
  hypr/.config/hypr/scripts/change-volume.sh
  hypr/.config/hypr/startup.lua
Due: shfmt

chore: remove dunst notification daemon
  dunst/.config/dunst/dunstrc
  nixos/modules/dunst.nix
  nixos/modules/hyprland.nix
Due: nixfmt

feat(hypr): extract floating window rules and consolidate from popular configs
  flake.lock
  hypr/.config/hypr/floating_windowrules.lua
  hypr/.config/hypr/windowrules.lua
Due: none

feat(noctalia): add battery power profile hooks and restructure bar layout
  flake.lock
  hypr/.config/hypr/startup.lua
  noctalia/.config/noctalia/noctalia-config.toml
Due: none

refactor(noctalia): replace hand-written config with stow-managed settings.toml
  noctalia/.local/state/noctalia/settings.toml
Due: none

chore(pre-commit): add taplo TOML formatter hook
  .pre-commit-config.yaml
  noctalia/.local/state/noctalia/settings.toml
Due: check-yaml

chore: remove waybar.nix
  nixos/modules/waybar.nix
Due: nixfmt

ci: build system closures with nix-fast-build (x86_64-linux)
  .github/workflows/ci.yml
  dev-shell.nix
Due: nixfmt, check-yaml

ci: add PR annotations for build failures
  .github/workflows/ci.yml
Due: check-yaml

fix(ci): pin dorny/test-reporter@v3 and add required permissions
  .github/workflows/ci.yml
Due: check-yaml

fix: add taplo
  dev-shell.nix
Due: nixfmt

fix(flake): resolve eval errors blocking nix flake check
  nixos/containers/backup.nix
  nixos/modules/gnome.nix
Due: nixfmt

nixos: add nix-fast-build and new hyprland keybind
  hypr/.config/hypr/keybinds.lua
  nixos/modules/cli-tools.nix
Due: nixfmt

ci: drop nix-develop from build job, fix nix-fast-build flake arg
  .github/workflows/ci.yml
  dev-shell.nix
Due: nixfmt, check-yaml

ci: add magic-nix-cache to speed up builds
  .github/workflows/ci.yml
Due: check-yaml

ci: migrate from deprecated magic-nix-cache to flakehub-cache
  .github/workflows/ci.yml
Due: check-yaml

fix(ci): use correct flakehub-cache-action version tag
  .github/workflows/ci.yml
Due: check-yaml

ci: build only fw13-amd system closure with nix build
  .github/workflows/ci.yml
Due: check-yaml

ci: build all x86_64-linux systems via matrix
  .github/workflows/ci.yml
Due: check-yaml

fix(containers): migrate services.resolved.extraConfig to settings
  nixos/containers/container-tailscale.nix
  nixos/containers/dns/dns.nix
Due: nixfmt

fix: migrate to nixos-26.05 API changes across containers
  flake.lock
  nixos/containers/container-tailscale.nix
  nixos/containers/dns/dns.nix
  nixos/containers/immich.nix
  nixos/containers/monitoring/grafana.nix
  nixos/secrets/grafana-secret-key.age
  nixos/secrets/secrets.nix
Due: nixfmt

ci: skip on docs-only changes with paths-ignore
  .github/workflows/ci.yml
Due: check-yaml

ci: skip on docs-only changes with paths-ignore
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  nixos/hosts/fw13-amd/default.nix
Due: nixfmt, check-yaml

ci: skip on docs-only changes with paths-ignore
  .github/workflows/ci.yml
  nixos/hosts/fw13-amd/default.nix
Due: nixfmt, check-yaml

ci: use determinate-nix-action with flakehub-cache
  .github/workflows/ci.yml
Due: check-yaml

ci: strip cache actions, keep paths filter
  .github/workflows/ci.yml
Due: check-yaml

fix: bump noctalia for idle inhibitor fix, restart hypridle on config reload
  flake.lock
  hypr/.config/hypr/startup.lua
Due: none

nixos: fix mondo homebrew settings
  flake.lock
  nixos/hosts/mondo/homebrew.nix
  nixos/hosts/mondo/packages.nix
Due: nixfmt

noctalia: update flake to main branch
  flake.lock
  flake.nix
  noctalia/.local/state/noctalia/settings.toml
Due: nixfmt
