Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-json
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-toml
      - id: end-of-file-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astro/deadnix
    rev: v1.3.1
    hooks:
      - id: deadnix
        args: ["-L"]
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        types:
          - nix
      - id: stylua-check
        name: stylua
        entry: stylua
        language: system
        types:
          - lua
      - id: check-yaml
        name: yamllint
        entry: yamllint
        args: ["--strict"]
        language: system
        files: \.(yml|yaml)$
      - id: shfmt
        name: shfmt
        entry: shfmt
        args: [-l, -d, -i=2, -ci, -s, -bn, -w]
        language: system
        files: '(.*\.sh$)|(\.zshrc|functionrc|aliasrc)'
      - id: fixjson
        name: fixjson json5
        entry: fixjson
        args: ["--write"]
        language: system
        types:
          - json5

nvim: fix treesitter error and update nix flake
  flake.lock
  nixos/modules/cli-tools.nix
  nvim/.config/nvim/lua/plugins/code.lua
Due: nixfmt

nix: update
  flake.lock
Due: none

nvim: remove htmx-lsp
  nixos/containers/zeroclaw.nix
  nixos/modules/ios-camera.nix
  nixos/modules/nvim.nix
  nvim/.config/nvim/lua/lsp/init.lua
Due: nixfmt

nvim: treesitter use master branch
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

nixos: add trilium and update rclone
  nixos/containers/backup.nix
  nixos/containers/default.nix
  nixos/containers/trilium.nix
  nixos/secrets/tailscale-lab.age
Due: nixfmt

nixos: add trilium-desktop and fix window sharing bug on browsers
  hypr/.config/hypr/windowrules.conf
  nixos/containers/watch.nix
  nixos/modules/gui-applications.nix
Due: nixfmt

nixos: update flake and add some packages
  flake.lock
  nixos/hosts/mondo/homebrew.nix
  nixos/hosts/mondo/packages.nix
  nixos/modules/nvim.nix
  nvim/.config/nvim/lua/lsp/init.lua
Due: nixfmt

nixos: update firefox tab memory settings
  nixos/modules/home-manager/firefox.nix
Due: nixfmt

sesh: fix windows
  sesh/.config/sesh/sesh.toml
Due: none

nixos: convert y50-70 to server
  flake.lock
  hypr/.config/hypr/wm.conf
  nixos/hosts/lenovo-y5070/configuration.nix
  nixos/hosts/lenovo-y5070/default.nix
  nixos/hosts/lenovo-y5070/home.nix
  nixos/modules/gui-applications.nix
Due: nixfmt

hypr: add Lua config files and automate stub symlink via home-manager
  .emmyrc.json
  hypr/.config/hypr/env.lua
  hypr/.config/hypr/hyprland.lua
  hypr/.config/hypr/input.lua
  hypr/.config/hypr/keybinds.lua
  hypr/.config/hypr/monitors.lua
  hypr/.config/hypr/ui.lua
  hypr/.config/hypr/windowrules.lua
  hypr/.config/hypr/wm.lua
  hypr/.config/hypr/workspaces.lua
  nixos/hosts/fw13-amd/home.nix
Due: nixfmt

hypr: fix Lua config API calls and add modules
  easyeffects/.config/easyeffects/output/fw-13-easyeffecs.json
  easyeffects/.config/easyeffects/output/lappy_mctopface.json
  hypr/.config/hypr/colors.lua
  hypr/.config/hypr/hyprland.lua
  hypr/.config/hypr/input.lua
  hypr/.config/hypr/keybinds.lua
  hypr/.config/hypr/startup.lua
  hypr/.config/hypr/windowrules.lua
  hypr/.config/hypr/wm.lua
Due: none

hypr: fix window rules syntax and add Waybar language format overrides
  hypr/.config/hypr/windowrules.lua
  waybar/.config/waybar/config
Due: none

nixos: update flake inputs, drop freetube, fix nodejs for nvim
  flake.lock
  nixos/modules/gui-applications.nix
  nixos/modules/nvim.nix
  nwg-displays/.config/nwg-displays/config
Due: nixfmt

hypr: use Catppuccin colors in hyprlock, add reload notification, fix stubs symlink
  hypr/.config/hypr/colors.lua
  hypr/.config/hypr/hyprlock.conf
  hypr/.config/hypr/keybinds.lua
  nixos/hosts/fw13-amd/home.nix
Due: nixfmt

hypr: remove legacy conf files replaced by Lua configs
  hypr/.config/hypr/env.conf
  hypr/.config/hypr/hyprland.conf
  hypr/.config/hypr/input.conf
  hypr/.config/hypr/keybinds.conf
  hypr/.config/hypr/mocha.conf
  hypr/.config/hypr/ui.conf
  hypr/.config/hypr/windowrules.conf
  hypr/.config/hypr/wm.conf
Due: none

hypr: add on config.reloaded event and switch back to tui-greet
  flake.lock
  hypr/.config/hypr/startup.lua
  nixos/modules/login-manager-ly.nix
Due: nixfmt

fix: remove deadnix check
  .pre-commit-config.yaml
Due: check-yaml

fix(easyeffects): migrate preset location for EE 8.0+ stow compatibility
  .gitignore
  easyeffects/.config/easyeffects/README.md
  easyeffects/.local/share/easyeffects/output/fw-13-easyeffecs.json
  easyeffects/.local/share/easyeffects/output/lappy_mctopface.json
Due: none

feat: add opencode superpowers plugin and rtk integration
  nixos/modules/ai.nix
  opencode/.config/opencode/opencode.json
  opencode/.config/opencode/package-lock.json
  opencode/.config/opencode/plugins/rtk.ts
Due: nixfmt

refactor(hypr): event-based startup using Lua events
  hypr/.config/hypr/hyprsunset.conf
  hypr/.config/hypr/scripts/autostart.sh
  hypr/.config/hypr/scripts/restart.sh
  hypr/.config/hypr/scripts/start.sh
  hypr/.config/hypr/startup.lua
Due: shfmt

fix(easyeffects): restore convolver IR and stow-manage IR file
  easyeffects/.local/share/easyeffects/irs/IR_22ms_27dB_5t_15s_0c.irs
  easyeffects/.local/share/easyeffects/output/fw-13-easyeffecs.json
  hypr/.config/hypr/keybinds.lua
  hypr/.config/hypr/startup.lua
Due: none

docs(easyeffects): add Framework official preset repo link to README
  easyeffects/.config/easyeffects/README.md
Due: none

feat(hypr): add default_monitors.lua for VM (Virtual-1) support
  hypr/.config/hypr/default_monitors.lua
  hypr/.config/hypr/hyprland.lua
Due: none

fix(hypr): prevent duplicate waybar on config reload
  hypr/.config/hypr/input.lua
  hypr/.config/hypr/scripts/restart.sh
  hypr/.config/hypr/startup.lua
Due: shfmt

refactor(hypr): log program output to ~/.cache/hyprland/logs/
  hypr/.config/hypr/scripts/restart.sh
  hypr/.config/hypr/scripts/start.sh
Due: shfmt

refactor(hypr): merge start.sh and restart.sh into run.sh
  hypr/.config/hypr/scripts/restart.sh
  hypr/.config/hypr/scripts/run.sh
  hypr/.config/hypr/scripts/start.sh
  hypr/.config/hypr/startup.lua
Due: shfmt

fix(hypr): switch waybar to systemd service, widen service PATH
  hypr/.config/hypr/startup.lua
  nixos/modules/waybar.nix
Due: nixfmt

fix(waybar): use full wpctl path in wireplumber on-click
  waybar/.config/waybar/default-modules.json
Due: none

refactor(hypr): replace wpctl inline call with toggle-mute script
  hypr/.config/hypr/scripts/toggle-mute.sh
  nixos/modules/waybar.nix
  waybar/.config/waybar/default-modules.json
Due: nixfmt, shfmt

fix(waybar): hardcode tool paths in custom scripts to work around service PATH
  waybar/.config/waybar/default-modules.json
  waybar/.config/waybar/scripts/toggle-mute.sh
  waybar/.config/waybar/scripts/toggle_hyprsunset.sh
Due: shfmt

refactor(hypr): move service lifecycle to hyprland events
  hypr/.config/hypr/startup.lua
Due: none

nvim: use fork of treesitter
  nvim/.config/nvim/lua/plugins/code.lua
Due: none

noctalia: init
  flake.lock
  flake.nix
  hypr/.config/hypr/startup.lua
  nixos/hosts/fw13-amd/default.nix
  nixos/modules/hyprland.nix
  nixos/modules/nix-settings.nix
  nixos/modules/wayland-desktop-environment.nix
  noctalia/.config/noctalia/noctalia-config.toml
Due: nixfmt

noctalia: lock screen and lid switfch
  hypr/.config/hypr/keybinds.lua
  nixos/modules/hyprland.nix
Due: nixfmt

use hyprlock
  hypr/.config/hypr/keybinds.lua
  nixos/modules/fingerprint.nix
  noctalia/.config/noctalia/noctalia-config.toml
Due: nixfmt

hyprlock: better looking hyprlock
  hypr/.config/hypr/hyprlock.conf
  hypr/.config/hypr/scripts/battery.sh
  hypr/.config/hypr/wallpapers/16.jpeg
Due: shfmt

nixos: 25.11 -> 26.05
  flake.lock
  flake.nix
  nixos/hosts/fw13-amd/suspend_tricks.nix
  nixos/modules/suspend-then-hibernate.nix
Due: nixfmt

fix(firefox): match profile path to legacy profiles
  nixos/modules/home-manager/firefox.nix
Due: nixfmt
