Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, check-yaml, shfmt

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: check-added-large-files
  - repo: https://github.com/astro/deadnix
    rev: v1.3.0
    hooks:
      - id: deadnix
        args: ["-L"]
        stages: [pre-commit]
  - repo: local
    hooks:
      - id: nixfmt
        name: nixfmt
        entry: nixfmt
        language: system
        types:
          - nix
      - id: stylua-check
        name: stylua
        entry: stylua
        language: system
        types:
          - lua
      - id: check-yaml
        name: yamllint
        entry: yamllint
        args: ["--strict"]
        language: system
        files: \.(yml|yaml)$
      - id: shfmt
        name: shfmt
        entry: shfmt
        args: [-l, -d, -i=2, -ci, -s, -bn, -w]
        language: system
        files: '(.*\.sh$)|(\.zshrc|functionrc|aliasrc)'
      - id: fixjson
        name: fixjson json5
        entry: fixjson
        args: ["--write"]
        language: system
        types:
          - json5

nixos: create rust template (#9)
  flake.nix
  nixos/templates/rust/.envrc
  nixos/templates/rust/flake.nix
Due: nixfmt

nixos: podman improvements
  nixos/modules/podman.nix
Due: nixfmt

nixos: pi4b remove home-assistant and adguardhome
  nixos/hosts/pi4b/default.nix
Due: nixfmt

nixos: clean up pi4b image generation
  .gitignore
  flake.lock
  flake.nix
  justfile
  nixos/hosts/pi4b/README.md
Due: nixfmt

nixos: g5 add kitty and remove adguard
  nixos/hosts/nuc-g5/configuration.nix
  nixos/hosts/nuc-g5/default.nix
Due: nixfmt

nixos: remove containers
  nixos/containers/adguardhome.nix
  nixos/containers/home-assistant.nix
  nixos/containers/settings.nix
  nixos/containers/unbound.nix
Due: nixfmt

just: add stow zsh back
  justfile
Due: none

direnv: add .envrc to git
  .envrc
Due: none

nixos: pi4b allow port 53 bind
  nixos/hosts/pi4b/hardware-configuration.nix
Due: nixfmt

nixos: tailscale remove permitCertUid
  nixos/modules/tailscale.nix
Due: nixfmt

nixos: default back to zsh and some firefox updates
  nixos/modules/desktop-user.nix
  nixos/modules/home-manager/firefox.nix
Due: nixfmt

nxios: bring back zeesh-update to daily-update
  nixos/bin/daily-update.sh
Due: shfmt

nixos: flake update
  flake.lock
  nixos/modules/desktop-user.nix
Due: nixfmt

nvim: load blink.cmp on very lazy event
  nvim/.config/nvim/lua/plugins/editor.lua
Due: none

nixos: pi4b add selfhost.nix with self host specific settings
  nixos/hosts/pi4b/caddy.nix
  nixos/hosts/pi4b/default.nix
  nixos/hosts/pi4b/selfhost.nix
Due: nixfmt

nixos: sgo2 add tailscale
  nixos/hosts/sgo2/default.nix
Due: nixfmt

pi4b enable devmon
  nixos/hosts/pi4b/selfhost.nix
Due: nixfmt

nixos: pi4b enable udisks2
  nixos/hosts/pi4b/selfhost.nix
Due: nixfmt

zsh: change alias gp to git pull and gP to git push
  zsh/.config/zsh/aliasrc
Due: shfmt

ghostty: enable window decorations
  ghostty/.config/ghostty/config
Due: none

nixos: flake update
  flake.lock
Due: none

nixos: add mpv to g5
  nixos/hosts/nuc-g5/configuration.nix
Due: nixfmt

nvim: remove neodev plugin
  nvim/.config/nvim/lua/lsp/init.lua
  nvim/.config/nvim/lua/plugins/editor.lua
  nvim/.config/nvim/lua/plugins/lsp.lua
Due: none

nixos: firefox disable pocket completely
  nixos/modules/home-manager/firefox.nix
Due: nixfmt

nixos: pipewire configure to use less power
  nixos/modules/sound-pipewire.nix
Due: nixfmt

nixos: pipewire consumption tweak
  nixos/modules/sound-pipewire.nix
Due: nixfmt

nixos: add printer.nix
  nixos/hosts/fw13-amd/default.nix
  nixos/modules/printer.nix
Due: nixfmt

nvim: fix nvim 0.11 vim.highlight
  nvim/.config/nvim/lua/settings.lua
Due: none

nixos: power consumption improvements
  nixos/hosts/fw13-amd/configuration.nix
  nixos/modules/ppd.nix
  nixos/modules/tailscale.nix
  nixos/modules/wlan.nix
Due: nixfmt

nixos: network manager use iwd as backend
  nixos/modules/wlan.nix
Due: nixfmt

nixos: remove iwd
  nixos/modules/wlan.nix
Due: nixfmt

nvim: replace deprecated sign_define with vim.diagnostic.config
  nvim/.config/nvim/lua/lsp/handlers.lua
  nvim/.config/nvim/lua/plugins/editor.lua
Due: none

neovim: lua_ls improvements
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nixos: flake update
  flake.lock
  nixos/modules/nvim.nix
Due: nixfmt

nixos: pi4b set kernel parameters
  nixos/hosts/pi4b/hardware-configuration.nix
Due: nixfmt

nixos: pi4b manually enable systemd accounting
  nixos/hosts/pi4b/configuration.nix
  nixos/hosts/pi4b/hardware-configuration.nix
Due: nixfmt

nixos: pi4b add port 53 start
  nixos/hosts/pi4b/hardware-configuration.nix
Due: nixfmt

nixos: pi4b add fan control service
  nixos/hosts/pi4b/fan-control.nix
Due: nixfmt

nixos: pi4b add import fan-control.nix
  nixos/hosts/pi4b/default.nix
Due: nixfmt
