Repository zahidkizmaz/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, isort, bandit, check-yaml, shfmt

.pre-commit-config.yaml:

repos:
  - repo: git@github.com:pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: check-toml
      - id: check-json
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-added-large-files
  - repo: local
    hooks:
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [python]
      - id: black
        name: black
        entry: black
        language: system
        types: [python]
      - id: isort
        name: isort
        entry: isort
        args: ["--profile", "black"]
        language: system
        types: [python]
      - id: bandit
        name: bandit
        entry: bandit --ini .bandit
        args: [-lll, --recursive, .]
        language: system
        types:
          - python
      - id: stylua-check
        name: stylua
        entry: stylua
        language: system
        types:
          - lua
      - id: check-yaml
        name: yamllint
        entry: yamllint
        args: ["--strict"]
        language: system
        files: \.(yml|yaml)$
      - id: shfmt
        name: shfmt
        entry: shfmt
        args: [-i=2, -ci, -bn]
        language: system
        files: '(.*\.sh$)|(.*rc$)'

nvim: replace glance with goto preview
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

zsh: remove fpr function cause hub cli is gone
  zsh/.config/zsh/functionrc
Due: shfmt

nvim: add oil.nvim
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

zsh: update history options
  zsh/.config/zsh/.zshrc
Due: shfmt

zsh: ignore unsuccesfull commands from history
  zsh/.config/zsh/functionrc
Due: shfmt

zsh: add gh cli alias and functions
  zsh/.config/zsh/aliasrc
  zsh/.config/zsh/functionrc
Due: shfmt

zsh: remove typo `,` from zshrc
  zsh/.config/zsh/.zshrc
Due: shfmt

tmux: add key to switch sessions with fzf
  tmux/.config/tmux/tmux.conf
Due: none

zsh: update prc function
  zsh/.config/zsh/functionrc
Due: shfmt

rtx: change rtx with mise
  git/.config/git/ignore
  mise/.config/mise/config.toml
  zsh/.config/zsh/.zshrc
Due: shfmt

mise: create settings.toml file
  mise/.config/mise/config.toml
  mise/.config/mise/settings.toml
Due: none

mise: fix settings.toml
  mise/.config/mise/settings.toml
Due: none

nvim: remove nvim spectre
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

nvim: auto indent after visual line move
  nvim/.config/nvim/lua/keybindings.lua
Due: none

nvim: swap noice with fidget.nvim
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

nvim: use rounded borders for lsp hover-signature
  nvim/.config/nvim/lua/lsp/handlers.lua
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nvim: efm should format on save
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nvim: use apex language instead of apexcode
  efm-langserver/.config/efm-langserver/config.yaml
Due: check-yaml

efm: add gitlint
  efm-langserver/.config/efm-langserver/config.yaml
Due: check-yaml

nvim: do not lazy load lsp things
  nvim/.config/nvim/lua/lsp/init.lua
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

alacritty: move to toml style config
  alacritty/.config/alacritty/alacritty.toml
  alacritty/.config/alacritty/alacritty.yml
Due: check-yaml

nvim: apex_ls shoud attach to apex files
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

mise: set python auto venv create
  mise/.config/mise/settings.toml
Due: none

nvim: goto-preview rounded borders
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

nvim: catppuccin priority 1000
  nvim/.config/nvim/lua/plugins/catpuccin-plugin/init.lua
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

nvim: focusable diagnostics window
  nvim/.config/nvim/lua/lsp/handlers.lua
Due: none

nvim: small cleanup on lsp.init.lua
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

pre-commit: run auto update
  .pre-commit-config.yaml
Due: check-yaml

shfmt: fix shfmt in precommit and nvim
  .pre-commit-config.yaml
  bspwm/.config/bspwm/multimonitor_workspaces.sh
  efm-langserver/.config/efm-langserver/config.yaml
Due: check-yaml, shfmt

nvim: catppuccin remove priority and add new integrations
  nvim/.config/nvim/lua/plugins/catpuccin-plugin/init.lua
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

nvim: replace neotree with netrw
  nvim/.config/nvim/lua/keybindings.lua
  nvim/.config/nvim/lua/plugins/catpuccin-plugin/init.lua
  nvim/.config/nvim/lua/plugins/init.lua
  nvim/.config/nvim/lua/plugins/neotree-plugin/init.lua
Due: none

nvim: cleaner lsp keymap setup and neodev initialization
  nvim/.config/nvim/lua/keybindings.lua
  nvim/.config/nvim/lua/lsp/handlers.lua
  nvim/.config/nvim/lua/lsp/init.lua
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

nvim: simplify lsp format setup
  nvim/.config/nvim/init.lua
  nvim/.config/nvim/lua/lsp/handlers.lua
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nvim: cleanup custom configured lsps
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nvim: make LSPInfo borders rounded
  nvim/.config/nvim/lua/lsp/init.lua
Due: none

nvim: try schemastore for yaml and json
  nvim/.config/nvim/lua/lsp/init.lua
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

nvim: turn off autocommenting next line
  nvim/.config/nvim/lua/settings.lua
Due: none

nvim: treestyle netrw
  nvim/.config/nvim/lua/keybindings.lua
  nvim/.config/nvim/lua/settings.lua
Due: none

nvim: update goto-preview settings
  nvim/.config/nvim/lua/plugins/init.lua
Due: none

nvim: move away from UIEnter event
  nvim/.config/nvim/lua/plugins/init.lua
Due: none
